n8n-workflow-retry.json
{
  "name": "Workana Retry Queue",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "id": "retry-trigger",
      "name": "Cada 15 min",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    PUPPETEER_URL: 'https://workana-auto-pilot.ioefpm.easypanel.host',\n    SUPABASE_URL: 'https://zcmqcosuvjndgcwylzna.supabase.co',\n    SUPABASE_KEY: 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InpjbXFjb3N1dmpuZGdjd3lsem5hIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MzMxNTcwOCwiZXhwIjoyMDg4ODkxNzA4fQ.lgJ_VxIBAZMmTtjo3L4vUwsIGRD_glaYYsdhHkuUTHM',\n    EVOLUTION_URL: 'https://evo.vortekai.es',\n    EVOLUTION_INSTANCE: 'Ventas vortek',\n    WHATSAPP_NUMBER: '34653693605',\n  }\n}];"
      },
      "id": "retry-config",
      "name": "CONFIG",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        0
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $json.SUPABASE_URL }}/rest/v1/workana_retry_queue?status=eq.pending&next_retry_at=lte.{{ new Date().toISOString() }}&order=next_retry_at.asc&limit=3",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $json.SUPABASE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.SUPABASE_KEY }}"
            }
          ]
        },
        "options": {}
      },
      "id": "retry-get-pending",
      "name": "GET Pendientes",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        440,
        0
      ],
      "onError": "continueRegularOutput",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const config = $('CONFIG').first().json;\nconst items = $input.all();\n\n// Filtrar items válidos de retry_queue (tienen id y project_url)\nconst validItems = items.filter(i => i.json && i.json.id && i.json.project_url);\n\nif (validItems.length === 0) {\n  console.log('No hay items pendientes válidos en retry queue');\n  return [];\n}\n\nconsole.log(validItems.length + ' items pendientes para reintentar');\n\nreturn validItems.map(item => ({\n  json: {\n    ...item.json,\n    config: config,\n  }\n}));"
      },
      "id": "retry-preparar",
      "name": "Preparar Items",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        0
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $json.config.SUPABASE_URL }}/rest/v1/workana_retry_queue?id=eq.{{ $json.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $json.config.SUPABASE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.config.SUPABASE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"status\": \"processing\",\n  \"updated_at\": \"{{ new Date().toISOString() }}\"\n}",
        "options": {}
      },
      "id": "retry-mark-processing",
      "name": "PATCH Marcar Processing",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        0
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Preparar Items').item.json.config.PUPPETEER_URL }}/submit-proposal",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ url: $('Preparar Items').item.json.project_url, text: $('Preparar Items').item.json.proposal_text, budget: $('Preparar Items').item.json.budget_suggested, delivery_days: $('Preparar Items').item.json.delivery_days }) }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "retry-submit",
      "name": "Reintentar Envío",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1100,
        0
      ],
      "retryOnFail": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const result = $input.first().json;\nconst retryItem = $('Preparar Items').item.json;\nconst config = retryItem.config;\nconst success = result.success === true;\nconst now = new Date().toISOString();\nconst newAttempt = (retryItem.attempt_count || 0) + 1;\nconst maxReached = newAttempt >= (retryItem.max_attempts || 3);\n\n// Backoff exponencial: 15min → 60min → 240min\nconst backoffMs = Math.pow(4, newAttempt - 1) * 15 * 60 * 1000;\nconst nextRetry = new Date(Date.now() + backoffMs).toISOString();\n\nconsole.log('Resultado retry id=' + retryItem.id + ': success=' + success + ', attempt=' + newAttempt + '/' + (retryItem.max_attempts || 3));\n\nreturn [{\n  json: {\n    success,\n    retryId: retryItem.id,\n    projectId: retryItem.project_id || null,\n    projectUrl: retryItem.project_url,\n    newAttempt,\n    maxReached,\n    nextRetry,\n    errorMessage: result.message || 'Unknown',\n    now,\n    SUPABASE_URL: config.SUPABASE_URL,\n    SUPABASE_KEY: config.SUPABASE_KEY,\n  }\n}];"
      },
      "id": "retry-evaluar",
      "name": "Evaluar Resultado",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1320,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-exito",
              "leftValue": "={{ $json.success }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "retry-if-exito",
      "name": "IF Éxito",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1540,
        0
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $json.SUPABASE_URL }}/rest/v1/workana_retry_queue?id=eq.{{ $json.retryId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $json.SUPABASE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.SUPABASE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"status\": \"completed\",\n  \"updated_at\": \"{{ $json.now }}\"\n}",
        "options": {}
      },
      "id": "retry-patch-completed",
      "name": "PATCH Retry Completed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1760,
        -100
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $('Evaluar Resultado').item.json.SUPABASE_URL }}/rest/v1/workana_projects?id=eq.{{ $('Evaluar Resultado').item.json.projectId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Evaluar Resultado').item.json.SUPABASE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Evaluar Resultado').item.json.SUPABASE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"status\": \"sent\",\n  \"auto_sent\": true\n}",
        "options": {}
      },
      "id": "retry-patch-proyecto-sent",
      "name": "PATCH Proyecto Sent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1980,
        -100
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-max",
              "leftValue": "={{ $json.maxReached }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "retry-if-max",
      "name": "IF Max Intentos",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1760,
        100
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $json.SUPABASE_URL }}/rest/v1/workana_retry_queue?id=eq.{{ $json.retryId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $json.SUPABASE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.SUPABASE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"status\": \"failed\",\n  \"attempt_count\": {{ $json.newAttempt }},\n  \"error_message\": {{ JSON.stringify($json.errorMessage) }},\n  \"updated_at\": \"{{ $json.now }}\"\n}",
        "options": {}
      },
      "id": "retry-patch-failed",
      "name": "PATCH Retry Failed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1980,
        50
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $json.SUPABASE_URL }}/rest/v1/workana_retry_queue?id=eq.{{ $json.retryId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $json.SUPABASE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.SUPABASE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"status\": \"pending\",\n  \"attempt_count\": {{ $json.newAttempt }},\n  \"next_retry_at\": \"{{ $json.nextRetry }}\",\n  \"error_message\": {{ JSON.stringify($json.errorMessage) }},\n  \"updated_at\": \"{{ $json.now }}\"\n}",
        "options": {}
      },
      "id": "retry-patch-backoff",
      "name": "PATCH Retry Backoff",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1980,
        200
      ]
    }
  ],
  "connections": {
    "Cada 15 min": {
      "main": [
        [
          {
            "node": "CONFIG",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CONFIG": {
      "main": [
        [
          {
            "node": "GET Pendientes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET Pendientes": {
      "main": [
        [
          {
            "node": "Preparar Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Items": {
      "main": [
        [
          {
            "node": "PATCH Marcar Processing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PATCH Marcar Processing": {
      "main": [
        [
          {
            "node": "Reintentar Envío",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reintentar Envío": {
      "main": [
        [
          {
            "node": "Evaluar Resultado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluar Resultado": {
      "main": [
        [
          {
            "node": "IF Éxito",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Éxito": {
      "main": [
        [
          {
            "node": "PATCH Retry Completed",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF Max Intentos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PATCH Retry Completed": {
      "main": [
        [
          {
            "node": "PATCH Proyecto Sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Max Intentos": {
      "main": [
        [
          {
            "node": "PATCH Retry Failed",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "PATCH Retry Backoff",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  },
  "tags": [
    {
      "name": "workana"
    },
    {
      "name": "retry-queue"
    }
  ]
}