n8n-workflow.json
{
  "name": "Workana Autopilot v2",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 30
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Cada 30 min",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// ============================================\n// CONFIGURACIÓN CENTRAL - Edita los valores aquí\n// ============================================\nreturn [{\n  json: {\n    PUPPETEER_URL: 'https://workana-auto-pilot.ioefpm.easypanel.host',\n    SUPABASE_URL: 'https://zcmqcosuvjndgcwylzna.supabase.co',\n    SUPABASE_KEY: 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InpjbXFjb3N1dmpuZGdjd3lsem5hIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MzMxNTcwOCwiZXhwIjoyMDg4ODkxNzA4fQ.lgJ_VxIBAZMmTtjo3L4vUwsIGRD_glaYYsdhHkuUTHM',\n    EVOLUTION_URL: 'https://evo.vortekai.es',\n    EVOLUTION_INSTANCE: 'Ventas vortek',\n    WHATSAPP_NUMBER: '34628706539',\n    SEARCH_CATEGORIES: 'it-programming',\n    SEARCH_PAGES: '2',\n    MIN_RELEVANCE_AUTO: '80',\n    MAX_PROPOSALS_DAY: '35',\n    MAX_PROPOSALS_ON_PROJECT: '30',\n    AUTO_MODE: false,\n  }\n}];"
      },
      "id": "config",
      "name": "CONFIG",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        0
      ],
      "notesInFlow": true,
      "notes": "CONFIGURACIÓN CENTRAL\nEdita los valores dentro del código.\nCambia AUTO_MODE a true para envío automático."
    },
    {
      "parameters": {
        "jsCode": "// Verificar horario activo (8:00-22:00 Europe/Madrid)\nconst now = new Date();\nconst madridTime = new Date(now.toLocaleString('en-US', { timeZone: 'Europe/Madrid' }));\nconst hour = madridTime.getHours();\nconst day = madridTime.getDay(); // 0=domingo\n\nif (hour < 8 || hour >= 22 || day === 0) {\n  // Fuera de horario - no ejecutar\n  return [];\n}\n\n// Pasar la config adelante\nreturn [{\n  json: {\n    ...$input.first().json,\n    current_hour: hour,\n    current_day: day,\n    timestamp: now.toISOString()\n  }\n}];"
      },
      "id": "check-schedule",
      "name": "Verificar Horario",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$('CONFIG').item.json.PUPPETEER_URL}}/scrape-all",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"categories\": [\"{{$('CONFIG').item.json.SEARCH_CATEGORIES}}\"],\n  \"pages\": {{$('CONFIG').item.json.SEARCH_PAGES}},\n  \"language\": \"es\"\n}"
      },
      "id": "scrape-projects",
      "name": "Scrape Workana",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        660,
        0
      ],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "jsCode": "// Extraer proyectos del resultado del scraping\nconst data = $input.first().json;\n\nif (!data.success || !data.projects || data.projects.length === 0) {\n  console.log('No se encontraron proyectos o error en scraping');\n  return [];\n}\n\n// Devolver cada proyecto como item individual con config\nreturn data.projects.map(project => ({\n  json: {\n    ...project,\n    config: {\n      PUPPETEER_URL: $('CONFIG').item.json.PUPPETEER_URL,\n      SUPABASE_URL: $('CONFIG').item.json.SUPABASE_URL,\n      SUPABASE_KEY: $('CONFIG').item.json.SUPABASE_KEY,\n      EVOLUTION_URL: $('CONFIG').item.json.EVOLUTION_URL,\n      EVOLUTION_INSTANCE: $('CONFIG').item.json.EVOLUTION_INSTANCE,\n      WHATSAPP_NUMBER: $('CONFIG').item.json.WHATSAPP_NUMBER,\n      AUTO_MODE: $('CONFIG').item.json.AUTO_MODE,\n      MIN_RELEVANCE_AUTO: parseInt($('CONFIG').item.json.MIN_RELEVANCE_AUTO),\n      MAX_PROPOSALS_ON_PROJECT: parseInt($('CONFIG').item.json.MAX_PROPOSALS_ON_PROJECT),\n    }\n  }\n}));"
      },
      "id": "parse-projects",
      "name": "Parsear Proyectos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        0
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Filtrar proyectos nuevos - UNA sola consulta a Supabase para todos\nconst items = $input.all();\n\nif (items.length === 0) return [];\n\nconst config = items[0].json.config;\n\n// Obtener TODOS los URLs existentes de Supabase en una sola consulta\nlet existingUrls = new Set();\ntry {\n  const resp = await fetch(\n    `${config.SUPABASE_URL}/rest/v1/workana_projects?select=workana_url`,\n    {\n      headers: {\n        'apikey': config.SUPABASE_KEY,\n        'Authorization': `Bearer ${config.SUPABASE_KEY}`,\n      }\n    }\n  );\n  const existing = await resp.json();\n  if (Array.isArray(existing)) {\n    existingUrls = new Set(existing.map(r => r.workana_url));\n  }\n} catch (error) {\n  console.error('Error consultando Supabase:', error.message);\n  // Si falla, continuar con todos (mejor duplicar que perder)\n}\n\n// Filtrar solo proyectos nuevos\nconst newItems = items.filter(item => !existingUrls.has(item.json.url));\n\nconsole.log(`Total: ${items.length}, Nuevos: ${newItems.length}, Ya existentes: ${items.length - newItems.length}`);\n\nreturn newItems;"
      },
      "id": "filter-new",
      "name": "Filtrar Nuevos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        0
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{$json.config.PUPPETEER_URL}}/project-details",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "url",
              "value": "={{$json.url}}"
            }
          ]
        }
      },
      "id": "get-details",
      "name": "Obtener Detalles",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1540,
        0
      ],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 3000
    },
    {
      "parameters": {
        "jsCode": "// Combinar datos del scraping con los detalles completos\nconst basic = $('Filtrar Nuevos').item.json;\nconst detailsResponse = $input.first().json;\n\nif (!detailsResponse.success) {\n  console.log(`Error obteniendo detalles: ${detailsResponse.error}`);\n  return [{ json: { ...basic, details_error: true } }];\n}\n\nconst details = detailsResponse.details;\n\n// Extraer número de propuestas\nconst proposalsText = details.proposals || basic.proposals_text || '';\nconst proposalsMatch = proposalsText.match(/(\\d+)/);\nconst proposalsCount = proposalsMatch ? parseInt(proposalsMatch[1]) : 0;\n\n// Filtrar por número de propuestas\nconst maxProposals = basic.config.MAX_PROPOSALS_ON_PROJECT || 30;\nif (proposalsCount > maxProposals) {\n  console.log(`Demasiadas propuestas (${proposalsCount}): ${basic.title}`);\n  return [];\n}\n\nreturn [{\n  json: {\n    ...basic,\n    full_description: details.description || basic.description,\n    full_title: details.title || basic.title,\n    budget_detail: details.budget || basic.budget_text,\n    category: details.category || basic.category || '',\n    deadline: details.deadline || '',\n    skills_detail: details.skills && details.skills.length > 0 ? details.skills : basic.skills,\n    proposals_count: proposalsCount,\n    client_name: details.client?.name || '',\n    client_country: details.client?.country || '',\n    client_rating: details.client?.rating || '',\n    client_verified: details.client?.verified || false,\n    publish_date: details.publish_date || basic.date_text || '',\n    full_text: details.full_text || '',\n  }\n}];"
      },
      "id": "merge-data",
      "name": "Combinar Datos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1760,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// Construir body para OpenAI con escape seguro de caracteres\nconst d = $input.first().json;\n\nconst systemPrompt = `Eres un generador experto de propuestas para Workana. Debes responder SIEMPRE en JSON con esta estructura exacta:\n{\n  \"relevance_score\": 0-100,\n  \"red_flags\": [\"flag1\", \"flag2\"],\n  \"should_apply\": true/false,\n  \"proposal_text\": \"texto de la propuesta listo para copiar\",\n  \"questions_text\": \"preguntas para el cliente (1-2 máximo)\",\n  \"budget_suggested\": número en EUR,\n  \"delivery_days\": número,\n  \"skills_recommended\": [\"skill1\", \"skill2\"],\n  \"portfolio_items\": [\"item1\", \"item2\"],\n  \"internal_notes\": {\n    \"perfil_detectado\": \"técnico/negocio/novato + formal/casual/urgente + precio/calidad/rapidez\",\n    \"dolor_real\": \"descripción\",\n    \"por_que_yo\": \"razón específica\",\n    \"tiempo_estimado\": \"rango\",\n    \"razonamiento_precio\": \"cómo llegaste al precio\"\n  }\n}\n\nIMPORTANTE: El campo 'proposal_text' debe ser la propuesta COMPLETA lista para enviar, incluyendo preguntas al final si las hay.`;\n\nconst userPrompt = `Genera una propuesta para este proyecto de Workana. Sigue ESTRICTAMENTE estas instrucciones:\n\n# INSTRUCCIONES DE GENERACIÓN\n\n## OBJETIVO\nGenerar propuestas cortas y persuasivas que cierren una LLAMADA, no que vendan el proyecto en el texto.\n\n## PASO 0: FILTRO DE VIABILIDAD\nAnaliza si el proyecto merece propuesta. Red flags:\n- Presupuesto < 150 EUR para proyectos de desarrollo/IA\n- Descripción < 3 líneas sin posibilidad de inferir alcance\n- Cliente nuevo + presupuesto bajo + sin verificar pago\n- Frases como 'necesito algo sencillo', 'es rápido' sin presupuesto real\n- Proyecto fuera del stack (n8n, IA, chatbots, automatización, software, web)\n- Más de 30 propuestas enviadas\n\nSi hay 2+ red flags, pon should_apply: false y explica en red_flags.\n\n## PASO 1: PERFIL DEL CLIENTE (analízalo internamente)\n- Nivel: TÉCNICO / NEGOCIO / NOVATO\n- Tono: FORMAL / CASUAL / URGENTE\n- Motivación: PRECIO / CALIDAD / RAPIDEZ\n\n## PASO 2: DOLOR REAL\nIdentifica el problema de negocio DETRÁS de lo técnico.\n\n## PASO 3: ESTRUCTURA (máximo 150 palabras)\n\n[GANCHO] 1-2 líneas. NUNCA empieces con 'Hola soy...' ni 'Yo...'\n- TÉCNICO/NEGOCIO: Restatea su problema con observación experta\n- NOVATO/URGENTE: Hazles sentir que ya tienes la solución\n\n[MICRO-INSIGHT] 1-2 líneas. Observación técnica/enfoque concreto para su caso.\n\n[PRUEBA SOCIAL] 1 línea. Resultado concreto con números.\n\n[CIERRE] 1 línea. CTA hacia llamada. Firma: Alex\n\n## PASO 4: PREGUNTAS (1-2 máximo)\nPreguntas estratégicas que demuestren expertise, NO preguntas básicas.\n\n## PRESUPUESTO\nTarifa mínima: 40 EUR/h. Factor valor: 1.2-2.0. Sumar margen Workana 20%.\nRangos: Chatbot básico 350-700, con IA 700-1600, automatización n8n 500-1400, agente IA complejo 1400-3500, software/SaaS 2000-5500.\nNO menciones precio en la propuesta (se negocia en llamada).\n\n## ANTI-PATRONES\n- NO empezar con 'Hola, soy Alex y tengo X años...'\n- NO primera frase genérica\n- NO prometer plazos sin saber alcance\n- NO listar tecnologías sin beneficio\n- NO usar 'podría', 'creo que', 'quizás'\n- NO usar 'Quedo a tu disposición'\n- NO más de 200 palabras\n- NO más de 2 preguntas\n- NO mencionar precio\n\n## PORTFOLIO DISPONIBLE (selecciona los 3 más relevantes):\n- Sistema de Análisis de Documentos y Base de Conocimiento Corporativa con IA (RAG)\n- Sistema Integral de Logística y Envíos para E-commerce\n- Asistente Virtual Inteligente Multicanal 24/7\n- Automatización de Marketing de Contenidos\n- Chatbot Inteligente en WhatsApp con IA para Automatización\n- Dashboard Ejecutivo Inteligente con Análisis Predictivo (BI & AI)\n- Automatización Integral de Flujos de Trabajo (BPA) y Conexión de APIs\n- Sistema de Web Scraping Inteligente y Enriquecimiento de Datos B2B\n- Voice Bot: Agente Telefónico con IA para Atención y Agendamiento\n\n## SKILLS DISPONIBLES (selecciona las 5 más relevantes):\nAPI, Inteligencia Artificial, Python, Chatbot, ChatGPT, CRM, Big Data, QA Automation, REST API, Web Scraping, System Analysis, System Programming, Database, ERP, DevOps, SQL, Programación Web, QA, Software Testing\n\n---\n\nPROYECTO A ANALIZAR:\n\nTítulo: ${d.full_title || d.title}\nURL: ${d.url}\nDescripción: ${d.full_description || d.description}\nPresupuesto: ${d.budget_detail || d.budget_text || 'No especificado'}\nSkills: ${(d.skills_detail || d.skills || []).join(', ')}\nPropuestas actuales: ${d.proposals_count || 'Desconocido'}\nCliente: ${d.client_name || 'Desconocido'} (${d.client_country || '?'})\nRating: ${d.client_rating || 'Sin rating'}\nVerificado: ${d.client_verified ? 'Sí' : 'No'}\nFecha publicación: ${d.publish_date || 'Desconocido'}\nCategoría: ${d.category || 'IT & Programación'}\n\nTexto completo de la página:\n${(d.full_text || '').substring(0, 3000)}`;\n\nreturn [{\n  json: {\n    ...d,\n    openai_body: {\n      model: 'gpt-4o',\n      temperature: 0.4,\n      max_tokens: 2000,\n      response_format: { type: 'json_object' },\n      messages: [\n        { role: 'system', content: systemPrompt },\n        { role: 'user', content: userPrompt }\n      ]\n    }\n  }\n}];\n"
      },
      "id": "prepare-prompt",
      "name": "Preparar Prompt IA",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1870,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.openai_body) }}"
      },
      "id": "generate-proposal",
      "name": "IA Genera Propuesta",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2090,
        0
      ],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 3000,
      "credentials": {
        "openAiApi": {
          "id": "",
          "name": "OpenAI"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parsear respuesta de la IA y estructurar datos\nconst aiResponse = $input.first().json;\nconst projectData = $('Combinar Datos').item.json;\n\n// DEBUG: ver qué devuelve la IA\nconsole.log('=== DEBUG IA RESPONSE ===');\nconsole.log('Response keys:', Object.keys(aiResponse));\nconsole.log('Has choices:', !!aiResponse.choices);\nconsole.log('Has error:', !!aiResponse.error);\n\n// Si OpenAI devolvió error\nif (aiResponse.error) {\n  console.error('OpenAI ERROR:', JSON.stringify(aiResponse.error));\n  return [{\n    json: {\n      project: {\n        workana_url: projectData.url,\n        title: projectData.full_title || projectData.title,\n        description: (projectData.full_description || projectData.description || '').substring(0, 2000),\n        category: projectData.category || '',\n        budget_text: projectData.budget_detail || projectData.budget_text || '',\n        skills: projectData.skills_detail || projectData.skills || [],\n        client_name: projectData.client_name || '',\n        client_country: projectData.client_country || '',\n        client_rating: parseFloat(projectData.client_rating) || null,\n        client_verified: projectData.client_verified || false,\n        proposals_count: projectData.proposals_count || 0,\n        publication_date: projectData.publish_date || '',\n        relevance_score: 50,\n        red_flags: ['Error en IA: ' + (aiResponse.error?.message || 'desconocido')],\n        status: 'error_ia',\n      },\n      proposal: {\n        proposal_text: 'ERROR: La IA no pudo generar propuesta. Revisar credenciales OpenAI.',\n        questions_text: '',\n        budget_suggested: null,\n        delivery_days: null,\n        skills_recommended: [],\n        portfolio_items: [],\n        internal_notes: { error: JSON.stringify(aiResponse.error) },\n      },\n      config: projectData.config,\n    }\n  }];\n}\n\nlet proposal;\ntry {\n  const content = aiResponse.choices?.[0]?.message?.content;\n  console.log('AI content (first 300 chars):', (content || 'NULL').substring(0, 300));\n  \n  if (!content) {\n    console.error('NO CONTENT in AI response!');\n    console.error('Full response (first 500):', JSON.stringify(aiResponse).substring(0, 500));\n    return [];\n  }\n  proposal = JSON.parse(content);\n} catch (e) {\n  console.error('JSON PARSE ERROR:', e.message);\n  return [];\n}\n\nconsole.log('AI verdict:', JSON.stringify({\n  should_apply: proposal.should_apply,\n  relevance: proposal.relevance_score,\n  red_flags: proposal.red_flags,\n}));\n\n// Si la IA dice que no debemos aplicar, saltamos\nif (!proposal.should_apply) {\n  console.log('IA says NO APPLY:', projectData.title);\n  return [];\n}\n\nreturn [{\n  json: {\n    project: {\n      workana_url: projectData.url,\n      title: projectData.full_title || projectData.title,\n      description: (projectData.full_description || projectData.description || '').substring(0, 2000),\n      category: projectData.category || '',\n      budget_text: projectData.budget_detail || projectData.budget_text || '',\n      skills: projectData.skills_detail || projectData.skills || [],\n      client_name: projectData.client_name || '',\n      client_country: projectData.client_country || '',\n      client_rating: parseFloat(projectData.client_rating) || null,\n      client_verified: projectData.client_verified || false,\n      proposals_count: projectData.proposals_count || 0,\n      publication_date: projectData.publish_date || '',\n      relevance_score: proposal.relevance_score || 0,\n      red_flags: proposal.red_flags || [],\n      status: 'proposal_generated',\n    },\n    proposal: {\n      proposal_text: proposal.proposal_text || '',\n      questions_text: proposal.questions_text || '',\n      budget_suggested: proposal.budget_suggested || null,\n      delivery_days: proposal.delivery_days || null,\n      skills_recommended: proposal.skills_recommended || [],\n      portfolio_items: proposal.portfolio_items || [],\n      internal_notes: proposal.internal_notes || {},\n    },\n    config: projectData.config,\n  }\n}];"
      },
      "id": "structure-data",
      "name": "Estructurar Datos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2310,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$('CONFIG').item.json.SUPABASE_URL}}/rest/v1/workana_projects",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$('CONFIG').item.json.SUPABASE_KEY}}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{$('CONFIG').item.json.SUPABASE_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.project) }}"
      },
      "id": "save-project",
      "name": "Guardar Proyecto",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2530,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// Obtener el ID del proyecto guardado para asociar la propuesta\nconst savedProject = $input.first().json;\nconst structuredData = $('Estructurar Datos').item.json;\n\nconst projectId = Array.isArray(savedProject)\n  ? savedProject[0]?.id\n  : savedProject?.id;\n\nif (!projectId) {\n  console.error('No se obtuvo ID del proyecto guardado');\n  return [];\n}\n\nreturn [{\n  json: {\n    project_id: projectId,\n    ...structuredData.proposal,\n    project: structuredData.project,\n    config: structuredData.config,\n  }\n}];"
      },
      "id": "prepare-proposal",
      "name": "Preparar Propuesta",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2750,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$('CONFIG').item.json.SUPABASE_URL}}/rest/v1/workana_proposals",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$('CONFIG').item.json.SUPABASE_KEY}}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{$('CONFIG').item.json.SUPABASE_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ project_id: $json.project_id, proposal_text: $json.proposal_text, questions_text: $json.questions_text, budget_suggested: $json.budget_suggested, delivery_days: $json.delivery_days, skills_recommended: $json.skills_recommended, portfolio_items: $json.portfolio_items, internal_notes: $json.internal_notes }) }}"
      },
      "id": "save-proposal",
      "name": "Guardar Propuesta",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2970,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "auto-check",
              "leftValue": "={{$('CONFIG').item.json.AUTO_MODE}}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            },
            {
              "id": "relevance-check",
              "leftValue": "={{$('Preparar Propuesta').item.json.project.relevance_score}}",
              "rightValue": "={{parseInt($('CONFIG').item.json.MIN_RELEVANCE_AUTO)}}",
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "check-auto-mode",
      "name": "Auto Mode?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        3190,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$('Preparar Propuesta').item.json.config.PUPPETEER_URL}}/submit-proposal",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"url\": \"{{$('Preparar Propuesta').item.json.project.workana_url}}\",\n  \"text\": {{JSON.stringify($('Preparar Propuesta').item.json.proposal_text)}},\n  \"budget\": {{$('Preparar Propuesta').item.json.budget_suggested || 'null'}},\n  \"delivery_days\": {{$('Preparar Propuesta').item.json.delivery_days || 'null'}}\n}"
      },
      "id": "auto-submit",
      "name": "Enviar Automático",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3410,
        -150
      ],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "jsCode": "// Actualizar estado después del envío automático\nconst submitResult = $input.first().json;\nconst proposalData = $('Preparar Propuesta').item.json;\n\nconst success = submitResult.success === true;\n\nreturn [{\n  json: {\n    id: proposalData.project_id,\n    success,\n    project_url: proposalData.project.workana_url,\n    project_title: proposalData.project.title,\n    proposal_text: proposalData.proposal_text,\n    budget: proposalData.budget_suggested,\n    relevance: proposalData.project.relevance_score,\n    message: submitResult.message || (success ? 'Enviado' : 'Error'),\n    auto_sent: true,\n    config: proposalData.config,\n    project_id: proposalData.project_id,\n  }\n}];"
      },
      "id": "process-auto-result",
      "name": "Resultado Auto",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3630,
        -150
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{$('CONFIG').item.json.SUPABASE_URL}}/rest/v1/workana_projects?id=eq.{{$json.id}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$('CONFIG').item.json.SUPABASE_KEY}}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{$('CONFIG').item.json.SUPABASE_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ status: $json.success ? \"sent\" : \"proposal_generated\", auto_sent: $json.auto_sent }) }}"
      },
      "id": "update-status-auto",
      "name": "Actualizar Estado",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3850,
        -150
      ]
    },
    {
      "parameters": {
        "jsCode": "// Preparar notificación para modo manual (sin auto-submit)\nconst data = $('Preparar Propuesta').item.json;\nconst project = data.project;\n\nreturn [{\n  json: {\n    auto_sent: false,\n    success: false,\n    project_url: project.workana_url,\n    project_title: project.title,\n    proposal_text: data.proposal_text,\n    budget: data.budget_suggested,\n    relevance: project.relevance_score,\n    message: 'Pendiente de envío manual',\n    config: data.config,\n    project_id: data.project_id,\n  }\n}];"
      },
      "id": "manual-path",
      "name": "Ruta Manual",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3410,
        150
      ]
    },
    {
      "parameters": {
        "jsCode": "// Preparar mensaje de notificación WhatsApp\nconst data = $('Preparar Propuesta').item.json;\nconst project = data.project;\nconst isAuto = $input.first()?.json?.auto_sent || false;\nconst autoSuccess = $input.first()?.json?.success;\n\nlet statusEmoji, statusText;\nif (isAuto && autoSuccess) {\n  statusEmoji = '🤖✅';\n  statusText = 'ENVIADO AUTOMÁTICAMENTE';\n} else if (isAuto && !autoSuccess) {\n  statusEmoji = '🤖❌';\n  statusText = 'ERROR EN ENVÍO AUTO - Revisa manualmente';\n} else {\n  statusEmoji = '📋';\n  statusText = 'PENDIENTE DE ENVÍO';\n}\n\nconst relevanceBar = '█'.repeat(Math.floor(project.relevance_score / 10)) + '░'.repeat(10 - Math.floor(project.relevance_score / 10));\n\nconst msg = `${statusEmoji} *${statusText}*\n\n🎯 *${project.title}*\nRelevancia: ${relevanceBar} ${project.relevance_score}/100\n\n💰 Presupuesto: ${project.budget_text || 'No especificado'}\n📊 Propuestas: ${project.proposals_count}\n🌍 Cliente: ${project.client_name || '?'} (${project.client_country || '?'})\n⭐ Rating: ${project.client_rating || 'Sin rating'}\n✅ Verificado: ${project.client_verified ? 'Sí' : 'No'}\n🏷️ Skills: ${(project.skills || []).join(', ')}\n\n---\n\n📝 *PROPUESTA:*\n${data.proposal_text}\n\n❓ *PREGUNTAS:*\n${data.questions_text || 'Ninguna'}\n\n💶 *Precio sugerido:* €${data.budget_suggested || '?'}\n📅 *Plazo:* ${data.delivery_days || '?'} días\n\n---\n\n📌 *Ficha interna:*\nPerfil: ${data.internal_notes?.perfil_detectado || '?'}\nDolor: ${data.internal_notes?.dolor_real || '?'}\nPor qué yo: ${data.internal_notes?.por_que_yo || '?'}\n\n🔗 ${project.workana_url}`;\n\nreturn [{\n  json: {\n    message: msg,\n    number: data.config.WHATSAPP_NUMBER,\n    evolution_url: data.config.EVOLUTION_URL,\n    evolution_instance: data.config.EVOLUTION_INSTANCE,\n    auto_sent: isAuto,\n    project_title: project.title,\n  }\n}];"
      },
      "id": "format-whatsapp",
      "name": "Formatear WhatsApp",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4070,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$json.evolution_url}}/message/sendText/{{$json.evolution_instance}}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{$json.number}}@s.whatsapp.net\",\n  \"text\": {{JSON.stringify($json.message)}}\n}"
      },
      "id": "send-whatsapp",
      "name": "Enviar WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4290,
        0
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "",
          "name": "Evolution API"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$('CONFIG').item.json.SUPABASE_URL}}/rest/v1/workana_logs",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$('CONFIG').item.json.SUPABASE_KEY}}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{$('CONFIG').item.json.SUPABASE_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ action: \"proposal_processed\", success: true, details: { project_title: $json.project_title || \"Sin título\", auto_sent: $json.auto_sent || false } }) }}"
      },
      "id": "log-action",
      "name": "Log Acción",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4510,
        0
      ]
    },
    {
      "parameters": {
        "content": "## 🤖 WORKANA AUTOPILOT v2\n\n### Flujo:\n1. Cada 30 min scrape a Workana\n2. Filtra proyectos nuevos (batch query)\n3. IA genera propuesta (OpenAI gpt-4o)\n4. Guarda en Supabase (HTTP REST)\n5. Si AUTO_MODE=true y relevancia ≥80 → envía solo\n6. Siempre notifica por WhatsApp\n\n### Credenciales necesarias (solo 2):\n- **OpenAI API** → API key\n- **HTTP Header Auth** → Evolution API (apikey)\n\n### Config:\n- Todo se configura en el nodo CONFIG (Code)\n- **AUTO_MODE**: false por defecto (manual)\n- Supabase usa HTTP directo (sin credencial n8n)",
        "width": 380,
        "height": 460
      },
      "id": "sticky-info",
      "name": "Info",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -300,
        -200
      ]
    }
  ],
  "connections": {
    "Cada 30 min": {
      "main": [
        [
          {
            "node": "CONFIG",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CONFIG": {
      "main": [
        [
          {
            "node": "Verificar Horario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar Horario": {
      "main": [
        [
          {
            "node": "Scrape Workana",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scrape Workana": {
      "main": [
        [
          {
            "node": "Parsear Proyectos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parsear Proyectos": {
      "main": [
        [
          {
            "node": "Filtrar Nuevos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtrar Nuevos": {
      "main": [
        [
          {
            "node": "Obtener Detalles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Detalles": {
      "main": [
        [
          {
            "node": "Combinar Datos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combinar Datos": {
      "main": [
        [
          {
            "node": "Preparar Prompt IA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IA Genera Propuesta": {
      "main": [
        [
          {
            "node": "Estructurar Datos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Estructurar Datos": {
      "main": [
        [
          {
            "node": "Guardar Proyecto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar Proyecto": {
      "main": [
        [
          {
            "node": "Preparar Propuesta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Propuesta": {
      "main": [
        [
          {
            "node": "Guardar Propuesta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar Propuesta": {
      "main": [
        [
          {
            "node": "Auto Mode?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auto Mode?": {
      "main": [
        [
          {
            "node": "Enviar Automático",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Ruta Manual",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Automático": {
      "main": [
        [
          {
            "node": "Resultado Auto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resultado Auto": {
      "main": [
        [
          {
            "node": "Actualizar Estado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Actualizar Estado": {
      "main": [
        [
          {
            "node": "Formatear WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ruta Manual": {
      "main": [
        [
          {
            "node": "Formatear WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatear WhatsApp": {
      "main": [
        [
          {
            "node": "Enviar WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar WhatsApp": {
      "main": [
        [
          {
            "node": "Log Acción",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Prompt IA": {
      "main": [
        [
          {
            "node": "IA Genera Propuesta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": [
    {
      "name": "workana"
    },
    {
      "name": "autopilot"
    },
    {
      "name": "automation"
    }
  ]
}