n8n-workflow-daily-summary.json
{
  "name": "Workana Daily Summary",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 22 * * 1-6"
            }
          ]
        }
      },
      "id": "daily-trigger",
      "name": "Cada día 22:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    SUPABASE_URL: 'https://zcmqcosuvjndgcwylzna.supabase.co',\n    SUPABASE_KEY: 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InpjbXFjb3N1dmpuZGdjd3lsem5hIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MzMxNTcwOCwiZXhwIjoyMDg4ODkxNzA4fQ.lgJ_VxIBAZMmTtjo3L4vUwsIGRD_glaYYsdhHkuUTHM',\n    EVOLUTION_URL: 'https://evo.vortekai.es',\n    EVOLUTION_INSTANCE: 'Ventas vortek',\n    WHATSAPP_NUMBER: '34653693605',\n  }\n}];"
      },
      "id": "daily-config",
      "name": "CONFIG",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const config = $input.first().json;\nconst now = new Date();\n\nfunction getMadridDate(date) {\n  return date.toLocaleString('en-CA', { timeZone: 'Europe/Madrid', year: 'numeric', month: '2-digit', day: '2-digit' });\n}\nfunction getMadridMidnightUTC(dateStr) {\n  const d = new Date(dateStr + 'T00:00:00');\n  const madridOffset = new Date(d.toLocaleString('en-US', { timeZone: 'Europe/Madrid' })) - new Date(d.toLocaleString('en-US', { timeZone: 'UTC' }));\n  return new Date(d.getTime() - madridOffset).toISOString();\n}\n\nconst todayStr = getMadridDate(now);\nconst startISO = getMadridMidnightUTC(todayStr);\nconst tomorrow = new Date(todayStr + 'T00:00:00');\ntomorrow.setDate(tomorrow.getDate() + 1);\nconst tomorrowStr = tomorrow.toISOString().split('T')[0];\nconst endISO = getMadridMidnightUTC(tomorrowStr);\n\nconst madridNow = new Date(now.toLocaleString('en-US', { timeZone: 'Europe/Madrid' }));\nconst dayOfWeek = madridNow.getDay() === 0 ? 7 : madridNow.getDay();\nconst mondayDate = new Date(madridNow);\nmondayDate.setDate(madridNow.getDate() - (dayOfWeek - 1));\nconst mondayStr = mondayDate.toISOString().split('T')[0];\nconst weekStartISO = getMadridMidnightUTC(mondayStr);\n\nreturn [{\n  json: {\n    ...config,\n    todayStr,\n    startISO,\n    endISO,\n    weekStartISO,\n  }\n}];"
      },
      "id": "daily-calc-fechas",
      "name": "Calcular Fechas",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        0
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $('CONFIG').first().json.SUPABASE_URL }}/rest/v1/workana_projects?select=id,status,relevance_score&created_at=gte.{{ $('Calcular Fechas').first().json.startISO }}&created_at=lt.{{ $('Calcular Fechas').first().json.endISO }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('CONFIG').first().json.SUPABASE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('CONFIG').first().json.SUPABASE_KEY }}"
            }
          ]
        },
        "options": {}
      },
      "id": "daily-get-proyectos",
      "name": "GET Proyectos Hoy",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        660,
        -200
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $('CONFIG').first().json.SUPABASE_URL }}/rest/v1/workana_proposals?select=id,budget_suggested&created_at=gte.{{ $('Calcular Fechas').first().json.startISO }}&created_at=lt.{{ $('Calcular Fechas').first().json.endISO }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('CONFIG').first().json.SUPABASE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('CONFIG').first().json.SUPABASE_KEY }}"
            }
          ]
        },
        "options": {}
      },
      "id": "daily-get-propuestas",
      "name": "GET Propuestas Hoy",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        660,
        -50
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $('CONFIG').first().json.SUPABASE_URL }}/rest/v1/workana_logs?select=id&created_at=gte.{{ $('Calcular Fechas').first().json.startISO }}&created_at=lt.{{ $('Calcular Fechas').first().json.endISO }}&success=eq.false",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('CONFIG').first().json.SUPABASE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('CONFIG').first().json.SUPABASE_KEY }}"
            }
          ]
        },
        "options": {}
      },
      "id": "daily-get-errores",
      "name": "GET Errores Hoy",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        660,
        100
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $('CONFIG').first().json.SUPABASE_URL }}/rest/v1/workana_proposals?select=id&created_at=gte.{{ $('Calcular Fechas').first().json.weekStartISO }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('CONFIG').first().json.SUPABASE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('CONFIG').first().json.SUPABASE_KEY }}"
            }
          ]
        },
        "options": {}
      },
      "id": "daily-get-cuota",
      "name": "GET Cuota Semanal",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        660,
        250
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $('CONFIG').first().json.SUPABASE_URL }}/rest/v1/workana_retry_queue?select=id&status=eq.pending",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('CONFIG').first().json.SUPABASE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('CONFIG').first().json.SUPABASE_KEY }}"
            }
          ]
        },
        "options": {}
      },
      "id": "daily-get-retry",
      "name": "GET Retry Pendientes",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        660,
        400
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const config = $('Calcular Fechas').first().json;\n\nconst projects = $('GET Proyectos Hoy').all().map(i => i.json).filter(p => p.id);\nconst proposals = $('GET Propuestas Hoy').all().map(i => i.json).filter(p => p.id);\nconst errors = $('GET Errores Hoy').all().map(i => i.json).filter(e => e.id);\nconst weekProposals = $('GET Cuota Semanal').all().map(i => i.json).filter(w => w.id);\nconst retryItems = $('GET Retry Pendientes').all().map(i => i.json).filter(r => r.id);\n\nconst totalProjects = projects.length;\nconst totalProposals = proposals.length;\nconst totalErrors = errors.length;\nconst weekTotal = weekProposals.length;\nconst retryPending = retryItems.length;\n\nconst sent = projects.filter(p => p.status === 'sent').length;\nconst skipped = projects.filter(p => p.status === 'skipped').length;\nconst avgRelevance = totalProjects > 0\n  ? Math.round(projects.reduce((sum, p) => sum + (p.relevance_score || 0), 0) / totalProjects)\n  : 0;\nconst totalBudget = proposals.reduce((sum, p) => sum + (p.budget_suggested || 0), 0);\n\nconst relevanceBar = '█'.repeat(Math.floor(avgRelevance / 10)) + '░'.repeat(10 - Math.floor(avgRelevance / 10));\n\nconst msg = `📊 *RESUMEN DIARIO - ${config.todayStr}*\\n\\n📋 Proyectos analizados: ${totalProjects}\\n✅ Propuestas generadas: ${totalProposals}\\n📨 Enviadas auto: ${sent}\\n⏭️ Descartados: ${skipped}\\n❌ Errores: ${totalErrors}\\n🔄 En cola de reintento: ${retryPending}\\n🎯 Relevancia media: ${relevanceBar} ${avgRelevance}/100\\n💶 Valor total propuestas: €${totalBudget}\\n\\n📅 *Cuota semanal:* ${weekTotal} propuestas\\n\\n${totalErrors > 3 ? '⚠️ Demasiados errores hoy. Revisa los logs.' : '✅ Sistema operando correctamente.'}`;\n\nreturn [{\n  json: {\n    ...config,\n    message: msg,\n  }\n}];"
      },
      "id": "daily-construir-resumen",
      "name": "Construir Resumen",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        100
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$json.EVOLUTION_URL}}/message/sendText/{{$json.EVOLUTION_INSTANCE}}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{$json.WHATSAPP_NUMBER}}@s.whatsapp.net\",\n  \"text\": {{JSON.stringify($json.message)}}\n}"
      },
      "id": "daily-whatsapp",
      "name": "Enviar Resumen WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1100,
        100
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "kunHKxAoeGnCmdVk",
          "name": "evolution vortek"
        }
      }
    }
  ],
  "connections": {
    "Cada día 22:00": {
      "main": [
        [
          {
            "node": "CONFIG",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CONFIG": {
      "main": [
        [
          {
            "node": "Calcular Fechas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calcular Fechas": {
      "main": [
        [
          {
            "node": "GET Proyectos Hoy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET Proyectos Hoy": {
      "main": [
        [
          {
            "node": "GET Propuestas Hoy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET Propuestas Hoy": {
      "main": [
        [
          {
            "node": "GET Errores Hoy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET Errores Hoy": {
      "main": [
        [
          {
            "node": "GET Cuota Semanal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET Cuota Semanal": {
      "main": [
        [
          {
            "node": "GET Retry Pendientes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET Retry Pendientes": {
      "main": [
        [
          {
            "node": "Construir Resumen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Construir Resumen": {
      "main": [
        [
          {
            "node": "Enviar Resumen WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "timezone": "Europe/Madrid"
  },
  "tags": [
    {
      "name": "workana"
    },
    {
      "name": "daily-summary"
    }
  ]
}