n8n-workflow-daily-summary.json
{
  "name": "Workana Daily Summary",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 22 * * 1-6"
            }
          ]
        }
      },
      "id": "daily-trigger",
      "name": "Cada día 22:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    SUPABASE_URL: 'https://zcmqcosuvjndgcwylzna.supabase.co',\n    SUPABASE_KEY: 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InpjbXFjb3N1dmpuZGdjd3lsem5hIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MzMxNTcwOCwiZXhwIjoyMDg4ODkxNzA4fQ.lgJ_VxIBAZMmTtjo3L4vUwsIGRD_glaYYsdhHkuUTHM',\n    EVOLUTION_URL: 'https://evo.vortekai.es',\n    EVOLUTION_INSTANCE: 'Ventas vortek',\n    WHATSAPP_NUMBER: '34628706539',\n  }\n}];"
      },
      "id": "daily-config",
      "name": "CONFIG",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const config = $input.first().json;\nconst now = new Date();\n\n// Calcular fecha de Madrid correctamente usando offset UTC\n// Madrid: UTC+1 en invierno, UTC+2 en verano (CET/CEST)\nfunction getMadridDate(date) {\n  const madridStr = date.toLocaleString('en-CA', { timeZone: 'Europe/Madrid', year: 'numeric', month: '2-digit', day: '2-digit' });\n  return madridStr; // returns YYYY-MM-DD\n}\nfunction getMadridMidnightUTC(dateStr) {\n  // Calcula la medianoche de Madrid en UTC\n  const d = new Date(dateStr + 'T00:00:00');\n  const madridOffset = new Date(d.toLocaleString('en-US', { timeZone: 'Europe/Madrid' })) - new Date(d.toLocaleString('en-US', { timeZone: 'UTC' }));\n  return new Date(d.getTime() - madridOffset).toISOString();\n}\n\nconst todayStr = getMadridDate(now);\nconst startISO = getMadridMidnightUTC(todayStr);\nconst tomorrow = new Date(todayStr + 'T00:00:00');\ntomorrow.setDate(tomorrow.getDate() + 1);\nconst tomorrowStr = tomorrow.toISOString().split('T')[0];\nconst endISO = getMadridMidnightUTC(tomorrowStr);\n\nconst headers = { 'apikey': config.SUPABASE_KEY, 'Authorization': `Bearer ${config.SUPABASE_KEY}` };\n\n// Proyectos hoy\nconst projResp = await fetch(\n  `${config.SUPABASE_URL}/rest/v1/workana_projects?select=id,status,relevance_score&created_at=gte.${startISO}&created_at=lt.${endISO}`,\n  { headers }\n);\nconst projects = await projResp.json();\n\n// Propuestas hoy\nconst propResp = await fetch(\n  `${config.SUPABASE_URL}/rest/v1/workana_proposals?select=id,budget_suggested&created_at=gte.${startISO}&created_at=lt.${endISO}`,\n  { headers }\n);\nconst proposals = await propResp.json();\n\n// Errores hoy\nconst errResp = await fetch(\n  `${config.SUPABASE_URL}/rest/v1/workana_logs?select=id&created_at=gte.${startISO}&created_at=lt.${endISO}&success=eq.false`,\n  { headers }\n);\nconst errors = await errResp.json();\n\n// Cuota semanal — calcular lunes de esta semana en hora Madrid\nconst madridNow = new Date(now.toLocaleString('en-US', { timeZone: 'Europe/Madrid' }));\nconst dayOfWeek = madridNow.getDay() === 0 ? 7 : madridNow.getDay();\nconst mondayDate = new Date(madridNow);\nmondayDate.setDate(madridNow.getDate() - (dayOfWeek - 1));\nconst mondayStr = mondayDate.toISOString().split('T')[0];\nconst weekStartISO = getMadridMidnightUTC(mondayStr);\nconst weekResp = await fetch(\n  `${config.SUPABASE_URL}/rest/v1/workana_proposals?select=id&created_at=gte.${weekStartISO}`,\n  { headers }\n);\nconst weekProposals = await weekResp.json();\n\n// Retry queue pendientes\nlet retryPending = 0;\ntry {\n  const retryResp = await fetch(\n    `${config.SUPABASE_URL}/rest/v1/workana_retry_queue?select=id&status=eq.pending`,\n    { headers }\n  );\n  const retryItems = await retryResp.json();\n  retryPending = Array.isArray(retryItems) ? retryItems.length : 0;\n} catch (e) { /* tabla puede no existir aún */ }\n\nconst totalProjects = Array.isArray(projects) ? projects.length : 0;\nconst totalProposals = Array.isArray(proposals) ? proposals.length : 0;\nconst totalErrors = Array.isArray(errors) ? errors.length : 0;\nconst weekTotal = Array.isArray(weekProposals) ? weekProposals.length : 0;\nconst sent = Array.isArray(projects) ? projects.filter(p => p.status === 'sent').length : 0;\nconst skipped = Array.isArray(projects) ? projects.filter(p => p.status === 'skipped').length : 0;\nconst avgRelevance = totalProjects > 0\n  ? Math.round(projects.reduce((sum, p) => sum + (p.relevance_score || 0), 0) / totalProjects)\n  : 0;\nconst totalBudget = Array.isArray(proposals)\n  ? proposals.reduce((sum, p) => sum + (p.budget_suggested || 0), 0)\n  : 0;\n\nconst relevanceBar = '█'.repeat(Math.floor(avgRelevance / 10)) + '░'.repeat(10 - Math.floor(avgRelevance / 10));\n\nconst msg = `📊 *RESUMEN DIARIO - ${todayStr}*\n\n📋 Proyectos analizados: ${totalProjects}\n✅ Propuestas generadas: ${totalProposals}\n📨 Enviadas auto: ${sent}\n⏭️ Descartados: ${skipped}\n❌ Errores: ${totalErrors}\n🔄 En cola de reintento: ${retryPending}\n🎯 Relevancia media: ${relevanceBar} ${avgRelevance}/100\n💶 Valor total propuestas: €${totalBudget}\n\n📅 *Cuota semanal:* ${weekTotal} propuestas\n\n${totalErrors > 3 ? '⚠️ Demasiados errores hoy. Revisa los logs.' : '✅ Sistema operando correctamente.'}`;\n\nreturn [{\n  json: {\n    ...config,\n    message: msg,\n  }\n}];"
      },
      "id": "daily-stats",
      "name": "Obtener Stats",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$json.EVOLUTION_URL}}/message/sendText/{{$json.EVOLUTION_INSTANCE}}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{$json.WHATSAPP_NUMBER}}@s.whatsapp.net\",\n  \"text\": {{JSON.stringify($json.message)}}\n}"
      },
      "id": "daily-whatsapp",
      "name": "Enviar Resumen WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        660,
        0
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "",
          "name": "Evolution API"
        }
      }
    }
  ],
  "connections": {
    "Cada día 22:00": {
      "main": [
        [
          {
            "node": "CONFIG",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CONFIG": {
      "main": [
        [
          {
            "node": "Obtener Stats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Stats": {
      "main": [
        [
          {
            "node": "Enviar Resumen WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  },
  "tags": [
    {
      "name": "workana"
    },
    {
      "name": "daily-summary"
    }
  ]
}