n8n-workflow.json
{
  "name": "Workana Autopilot v3",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 30
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Cada 30 min",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// ============================================\n// CONFIGURACIÓN CENTRAL - Edita los valores aquí\n// ============================================\nreturn [{\n  json: {\n    PUPPETEER_URL: 'https://workana-auto-pilot.ioefpm.easypanel.host',\n    SUPABASE_URL: 'https://zcmqcosuvjndgcwylzna.supabase.co',\n    SUPABASE_KEY: 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InpjbXFjb3N1dmpuZGdjd3lsem5hIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MzMxNTcwOCwiZXhwIjoyMDg4ODkxNzA4fQ.lgJ_VxIBAZMmTtjo3L4vUwsIGRD_glaYYsdhHkuUTHM',\n    EVOLUTION_URL: 'https://evo.vortekai.es',\n    EVOLUTION_INSTANCE: 'Ventas vortek',\n    WHATSAPP_NUMBER: '34653693605',\n    SEARCH_CATEGORIES: ['it-programming', 'design-multimedia', 'writing-translation', 'admin-support'],\n    SEARCH_PAGES: '2',\n    MIN_RELEVANCE_AUTO: '80',\n    MAX_PROPOSALS_WEEK_MIN: 50,\n    MAX_PROPOSALS_WEEK_MAX: 60,\n    MAX_PROPOSALS_ON_PROJECT: '50',\n    AUTO_MODE: true,\n  }\n}];"
      },
      "id": "config",
      "name": "CONFIG",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        0
      ],
      "notesInFlow": true,
      "notes": "CONFIGURACIÓN CENTRAL\nEdita los valores dentro del código.\nCambia AUTO_MODE a true para envío automático."
    },
    {
      "parameters": {
        "jsCode": "// Control inteligente: horario + cuota semanal + aleatorización\nconst https = require('https');\n\nfunction httpsGet(targetUrl, headers) {\n  return new Promise((resolve, reject) => {\n    const parsed = new URL(targetUrl);\n    const opts = { hostname: parsed.hostname, path: parsed.pathname + parsed.search, headers };\n    https.get(opts, res => {\n      let body = '';\n      res.on('data', chunk => body += chunk);\n      res.on('end', () => {\n        try { resolve(JSON.parse(body)); } catch (e) { resolve([]); }\n      });\n    }).on('error', () => resolve([]));\n  });\n}\n\nconst config = $input.first().json;\nconst now = new Date();\nconst madridTime = new Date(now.toLocaleString('en-US', { timeZone: 'Europe/Madrid' }));\nconst hour = madridTime.getHours();\nconst day = madridTime.getDay();\n\nif (hour < 8 || hour >= 22 || day === 0) return [];\n\nfunction seededRandom(seed) {\n  const x = Math.sin(seed * 9999) * 10000;\n  return x - Math.floor(x);\n}\nconst oneJan = new Date(madridTime.getFullYear(), 0, 1);\nconst weekNumber = Math.ceil(((madridTime - oneJan) / 86400000 + oneJan.getDay() + 1) / 7);\nconst weekSeed = madridTime.getFullYear() * 100 + weekNumber;\nconst minWeek = config.MAX_PROPOSALS_WEEK_MIN || 50;\nconst maxWeek = config.MAX_PROPOSALS_WEEK_MAX || 60;\nconst weeklyTarget = Math.floor(minWeek + seededRandom(weekSeed) * (maxWeek - minWeek + 1));\n\nconst dayOfWeek = day === 0 ? 7 : day;\nconst madridDateStr = madridTime.toISOString().split('T')[0];\nconst mondayDate = new Date(madridDateStr + 'T00:00:00');\nmondayDate.setDate(mondayDate.getDate() - (dayOfWeek - 1));\nconst mondayStr = mondayDate.toISOString().split('T')[0];\nconst refDate = new Date(mondayStr + 'T12:00:00Z');\nconst madridRef = new Date(refDate.toLocaleString('en-US', { timeZone: 'Europe/Madrid' }));\nconst utcRef = new Date(refDate.toLocaleString('en-US', { timeZone: 'UTC' }));\nconst madridOffsetMs = madridRef - utcRef;\nconst mondayMidnightUTC = new Date(new Date(mondayStr + 'T00:00:00').getTime() - madridOffsetMs);\nconst startISO = mondayMidnightUTC.toISOString();\n\nlet proposalsThisWeek = 0;\ntry {\n  const proposals = await httpsGet(\n    `${config.SUPABASE_URL}/rest/v1/workana_proposals?select=id&created_at=gte.${startISO}`,\n    { 'apikey': config.SUPABASE_KEY, 'Authorization': `Bearer ${config.SUPABASE_KEY}` }\n  );\n  proposalsThisWeek = Array.isArray(proposals) ? proposals.length : 0;\n} catch (error) {\n  console.error('Error consultando cuota:', error.message);\n}\n\nconst remaining = weeklyTarget - proposalsThisWeek;\nif (remaining <= 0) {\n  console.log(`Cuota alcanzada: ${proposalsThisWeek}/${weeklyTarget}`);\n  return [];\n}\n\nconst daysLeftAfterToday = 6 - dayOfWeek;\nconst hoursLeftToday = Math.max(0, 22 - hour);\nconst totalHoursLeft = (daysLeftAfterToday * 14) + hoursLeftToday;\nconst executionsLeft = Math.max(1, totalHoursLeft * 2);\nconst probability = Math.min(0.95, remaining / executionsLeft);\n\nlet hasFreshProjects = false;\ntry {\n  const twoHoursAgo = new Date(Date.now() - 2 * 60 * 60 * 1000).toISOString();\n  const fresh = await httpsGet(\n    `${config.SUPABASE_URL}/rest/v1/workana_projects?select=id&status=eq.new&created_at=gte.${twoHoursAgo}&proposals_count=lt.10&limit=1`,\n    { 'apikey': config.SUPABASE_KEY, 'Authorization': `Bearer ${config.SUPABASE_KEY}` }\n  );\n  hasFreshProjects = Array.isArray(fresh) && fresh.length > 0;\n} catch (e) { /* no bloquear */ }\n\nconst roll = Math.random();\nif (roll > probability && !hasFreshProjects) {\n  console.log(`Skip aleatorio (prob: ${(probability * 100).toFixed(1)}%, enviadas: ${proposalsThisWeek}/${weeklyTarget})`);\n  return [];\n}\n\nconsole.log(`Ejecutando (prob: ${(probability * 100).toFixed(1)}%, enviadas: ${proposalsThisWeek}/${weeklyTarget})`);\n\nreturn [{\n  json: {\n    ...config,\n    current_hour: hour,\n    current_day: day,\n    proposals_this_week: proposalsThisWeek,\n    weekly_target: weeklyTarget,\n    remaining_this_week: remaining,\n    timestamp: now.toISOString()\n  }\n}];"
      },
      "id": "check-schedule",
      "name": "Control Cuota y Horario",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$('CONFIG').item.json.PUPPETEER_URL}}/scrape-all",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ categories: $('CONFIG').item.json.SEARCH_CATEGORIES, pages: parseInt($('CONFIG').item.json.SEARCH_PAGES), language: 'es' }) }}",
        "options": {
          "timeout": 300000
        }
      },
      "id": "scrape-projects",
      "name": "Scrape Workana",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1160,
        0
      ],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "jsCode": "// Extraer proyectos del resultado del scraping\nconst data = $input.first().json;\n\nif (!data.success || !data.projects || data.projects.length === 0) {\n  console.log('No se encontraron proyectos o error en scraping');\n  return [];\n}\n\n// Devolver cada proyecto como item individual con config\n// Deduplicar por URL (mismo proyecto puede aparecer en múltiples categorías)\nconst seen = new Set();\nconst unique = data.projects.filter(p => {\n  if (!p.url || seen.has(p.url)) return false;\n  seen.add(p.url);\n  return true;\n});\nconsole.log(`Proyectos: ${data.projects.length} total, ${unique.length} únicos (dedup)`);\n\nreturn unique.map(project => ({\n  json: {\n    ...project,\n    config: {\n      PUPPETEER_URL: $('CONFIG').item.json.PUPPETEER_URL,\n      SUPABASE_URL: $('CONFIG').item.json.SUPABASE_URL,\n      SUPABASE_KEY: $('CONFIG').item.json.SUPABASE_KEY,\n      EVOLUTION_URL: $('CONFIG').item.json.EVOLUTION_URL,\n      EVOLUTION_INSTANCE: $('CONFIG').item.json.EVOLUTION_INSTANCE,\n      WHATSAPP_NUMBER: $('CONFIG').item.json.WHATSAPP_NUMBER,\n      AUTO_MODE: $('CONFIG').item.json.AUTO_MODE,\n      MIN_RELEVANCE_AUTO: parseInt($('CONFIG').item.json.MIN_RELEVANCE_AUTO),\n      MAX_PROPOSALS_ON_PROJECT: parseInt($('CONFIG').item.json.MAX_PROPOSALS_ON_PROJECT),\n    }\n  }\n}));"
      },
      "id": "parse-projects",
      "name": "Parsear Proyectos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1380,
        0
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Filtrar proyectos nuevos - consulta Supabase para deduplicar\nconst https = require('https');\n\nfunction httpsGet(targetUrl, headers) {\n  return new Promise((resolve, reject) => {\n    const parsed = new URL(targetUrl);\n    const opts = { hostname: parsed.hostname, path: parsed.pathname + parsed.search, headers };\n    https.get(opts, res => {\n      let body = '';\n      res.on('data', chunk => body += chunk);\n      res.on('end', () => {\n        if (res.statusCode >= 400) return reject(new Error('HTTP ' + res.statusCode + ': ' + body.substring(0, 300)));\n        try { resolve(JSON.parse(body)); } catch (e) { reject(new Error('JSON parse error: ' + body.substring(0, 300))); }\n      });\n    }).on('error', reject);\n  });\n}\n\nconst items = $input.all();\nif (items.length === 0) return [];\n\nconst config = items[0].json.config;\nif (!config || !config.SUPABASE_URL) throw new Error('CONFIG sin SUPABASE_URL');\n\nconst scraped = items.map(i => i.json.url).filter(Boolean);\nif (scraped.length === 0) throw new Error('Items sin campo url: ' + Object.keys(items[0].json).join(','));\n\nconst existingUrls = new Set();\nconst batchSize = 50;\nfor (let i = 0; i < scraped.length; i += batchSize) {\n  const batch = scraped.slice(i, i + batchSize);\n  const urlFilter = batch.map(u => '\"' + u + '\"').join(',');\n  const queryUrl = config.SUPABASE_URL + '/rest/v1/workana_projects?select=workana_url&workana_url=in.(' + urlFilter + ')';\n  const existing = await httpsGet(queryUrl, {\n    'apikey': config.SUPABASE_KEY,\n    'Authorization': 'Bearer ' + config.SUPABASE_KEY,\n  });\n  if (Array.isArray(existing)) existing.forEach(r => existingUrls.add(r.workana_url));\n}\n\nconst seen = new Set();\nconst newItems = items.filter(item => {\n  const url = item.json.url;\n  if (!url || existingUrls.has(url) || seen.has(url)) return false;\n  seen.add(url);\n  return true;\n});\n\nif (newItems.length === 0) {\n  return [{ json: { _debug: true, message: 'Los ' + items.length + ' proyectos ya existen en Supabase (' + existingUrls.size + ' en DB). No hay nuevos.', total: items.length, existentes: existingUrls.size } }];\n}\n\nreturn newItems;"
      },
      "id": "filter-new",
      "name": "Filtrar Nuevos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1600,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// Obtener detalles del proyecto via Puppeteer y combinar con datos del scraping\nconst https = require('https');\nconst http = require('http');\n\nfunction httpGet(targetUrl) {\n  return new Promise((resolve, reject) => {\n    const parsed = new URL(targetUrl);\n    const lib = parsed.protocol === 'https:' ? https : http;\n    lib.get({ hostname: parsed.hostname, port: parsed.port, path: parsed.pathname + parsed.search }, res => {\n      let body = '';\n      res.on('data', chunk => body += chunk);\n      res.on('end', () => {\n        try { resolve(JSON.parse(body)); } catch (e) { reject(new Error('JSON parse: ' + body.substring(0, 300))); }\n      });\n    }).on('error', reject);\n  });\n}\n\nconst basic = $input.first().json;\n\nif (basic._debug) return [];\n\nconst config = basic.config;\n\nconsole.log(`[Obtener Detalles] Procesando: ${basic.title}`);\n\nlet detailsResponse;\ntry {\n  detailsResponse = await httpGet(`${config.PUPPETEER_URL}/project-details?url=${encodeURIComponent(basic.url)}`);\n} catch (error) {\n  console.log(`[Obtener Detalles] Error: ${error.message}`);\n  detailsResponse = { success: false, error: error.message };\n}\n\nif (!detailsResponse.success) {\n  console.log(`[Obtener Detalles] Error detalles: ${detailsResponse.error} → continuando con datos básicos`);\n  // Continuar con datos básicos en vez de parar\n  return [{ json: { ...basic, details_error: true } }];\n}\n\nconst details = detailsResponse.details;\n\n// 2. Parsear presupuesto de texto a números\nfunction parseBudget(text) {\n  if (!text) return { min: null, max: null, currency: 'USD', type: 'open' };\n  const t = text.replace(/\\s+/g, ' ').trim();\n  let currency = 'USD';\n  if (/EUR|€/i.test(t)) currency = 'EUR';\n  if (/hora|hour|hr/i.test(t)) {\n    const match = t.match(/(\\d+[\\.,]?\\d*)/);\n    const val = match ? parseFloat(match[1].replace(',', '.')) : null;\n    return { min: val, max: val, currency, type: 'hourly' };\n  }\n  const rangeMatch = t.match(/(\\d+[\\.,]?\\d*)\\s*[-–a]\\s*(\\d+[\\.,]?\\d*)/);\n  if (rangeMatch) {\n    return { min: parseFloat(rangeMatch[1].replace(',', '.')), max: parseFloat(rangeMatch[2].replace(',', '.')), currency, type: 'fixed' };\n  }\n  const singleMatch = t.match(/(\\d+[\\.,]?\\d*)/);\n  if (singleMatch) {\n    const val = parseFloat(singleMatch[1].replace(',', '.'));\n    return { min: val, max: val, currency, type: 'fixed' };\n  }\n  return { min: null, max: null, currency, type: 'open' };\n}\n\n// 3. Extraer número de propuestas\nconst proposalsText = details.proposals || basic.proposals_text || '';\nconst proposalsMatch = proposalsText.match(/(\\d+)/);\nconst proposalsCount = proposalsMatch ? parseInt(proposalsMatch[1]) : 0;\n\n// 4. Filtrar por número de propuestas\nconst maxProposals = parseInt(config.MAX_PROPOSALS_ON_PROJECT) || 50;\nif (proposalsCount > maxProposals) {\n  console.log(`[Obtener Detalles] ⛔ Demasiadas propuestas (${proposalsCount}>${maxProposals}): ${basic.title}`);\n  return [];\n}\n\nconst budgetParsed = parseBudget(details.budget || basic.budget_text);\n\nconsole.log(`[Obtener Detalles] ✅ ${basic.title} | Props: ${proposalsCount} | Budget: ${budgetParsed.min}-${budgetParsed.max} ${budgetParsed.currency}`);\n\nreturn [{\n  json: {\n    ...basic,\n    full_description: details.description || basic.description,\n    full_title: details.title || basic.title,\n    budget_detail: details.budget || basic.budget_text,\n    budget_min: budgetParsed.min,\n    budget_max: budgetParsed.max,\n    budget_currency: budgetParsed.currency,\n    budget_type: budgetParsed.type,\n    category: details.category || basic.category || '',\n    deadline: details.deadline || '',\n    skills_detail: details.skills && details.skills.length > 0 ? details.skills : basic.skills,\n    proposals_count: proposalsCount,\n    client_name: details.client?.name || '',\n    client_country: details.client?.country || '',\n    client_rating: details.client?.rating || '',\n    client_verified: details.client?.verified || false,\n    client_projects_posted: details.client?.projects_posted || null,\n    client_hire_rate: details.client?.hire_rate || null,\n    publish_date: details.publish_date || basic.date_text || '',\n    full_text: details.full_text || '',\n  }\n}];"
      },
      "id": "get-details",
      "name": "Obtener Detalles",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2040,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// Obtener stats de conversión históricas (v2) para enriquecer el prompt\nconst https = require('https');\n\nfunction httpsGet(targetUrl, headers) {\n  return new Promise((resolve, reject) => {\n    const parsed = new URL(targetUrl);\n    const opts = { hostname: parsed.hostname, path: parsed.pathname + parsed.search, headers };\n    https.get(opts, res => {\n      let body = '';\n      res.on('data', chunk => body += chunk);\n      res.on('end', () => {\n        try { resolve(JSON.parse(body)); } catch (e) { resolve([]); }\n      });\n    }).on('error', () => resolve([]));\n  });\n}\n\nconst cfg = $input.first().json.config;\nlet conversionStats = '';\ntry {\n  const stats = await httpsGet(\n    `${cfg.SUPABASE_URL}/rest/v1/workana_conversion_stats_v2`,\n    { 'apikey': cfg.SUPABASE_KEY, 'Authorization': `Bearer ${cfg.SUPABASE_KEY}` }\n  );\n  if (Array.isArray(stats) && stats.length > 0) {\n    conversionStats = '\\n## DATOS DE CONVERSIÓN HISTÓRICOS (v2):\\n' +\n      stats.map(s => `- ${s.category}: ${s.response_rate_pct || 0}% tasa respuesta, ${s.win_rate_pct || 0}% win rate (${s.total_sent} enviadas, ${s.total_won || 0} ganadas)`).join('\\n') +\n      '\\nUsa estos datos para ajustar tu enfoque y tono según la categoría.';\n  }\n} catch (e) { /* no bloquear si la vista no existe aún */ }\n\n// Obtener patrones ganadores de propuestas exitosas\nlet winningPatterns = '';\ntry {\n  const patterns = await httpsGet(\n    `${cfg.SUPABASE_URL}/rest/v1/workana_winning_patterns?limit=5`,\n    { 'apikey': cfg.SUPABASE_KEY, 'Authorization': `Bearer ${cfg.SUPABASE_KEY}` }\n  );\n  if (Array.isArray(patterns) && patterns.length > 0) {\n    winningPatterns = '\\n## PATRONES DE PROPUESTAS GANADORAS:\\n' +\n      patterns.map(p => `- Categoría: ${p.category || '?'} | Gancho: \"${(p.opening_hook || '').substring(0, 80)}...\" | Largo: ${p.word_count || '?'} palabras | Tono: ${p.tone || '?'}`).join('\\n') +\n      '\\nImita estos patrones en tu propuesta.';\n  }\n} catch (e) { /* no bloquear */ }\n\n// Construir body para OpenAI - Selección focalizada + precio justo con Claude Code\nconst d = $input.first().json;\n\n// --- Client Profiling ---\nlet clientProfile = 'desconocido';\nconst rating = parseFloat(d.client_rating) || 0;\nconst verified = d.client_verified === true;\nconst projectsPosted = parseInt(d.client_projects_posted) || 0;\nconst hireRate = parseFloat(d.client_hire_rate) || 0;\n\nif (projectsPosted >= 10 && hireRate >= 70 && rating >= 4.5) {\n  clientProfile = 'premium';\n} else if (projectsPosted >= 3 && rating >= 4.0) {\n  clientProfile = 'experimentado';\n} else if (projectsPosted >= 1) {\n  clientProfile = 'intermedio';\n} else {\n  clientProfile = 'nuevo';\n}\n\nlet clientProfileInstructions = '';\nif (clientProfile === 'premium') {\n  clientProfileInstructions = '\\n## PERFIL CLIENTE: PREMIUM\\n- Este cliente tiene historial comprobado y alta tasa de contratación.\\n- Usa tono profesional y directo, enfatiza calidad y resultados.\\n- Menciona escalabilidad y mantenimiento a largo plazo.\\n- Puede pagar precios más altos - no subas el precio, pero enfatiza valor.';\n} else if (clientProfile === 'experimentado') {\n  clientProfileInstructions = '\\n## PERFIL CLIENTE: EXPERIMENTADO\\n- Cliente con experiencia en Workana, sabe lo que busca.\\n- Sé específico técnicamente, evita explicaciones básicas.\\n- Enfatiza diferenciación: qué te hace mejor que los otros 10+ freelancers.';\n} else if (clientProfile === 'intermedio') {\n  clientProfileInstructions = '\\n## PERFIL CLIENTE: INTERMEDIO\\n- Cliente con algo de experiencia, puede necesitar guía.\\n- Equilibra tecnicismos con explicaciones de beneficio.\\n- Transmite confianza y proceso claro.';\n} else {\n  clientProfileInstructions = '\\n## PERFIL CLIENTE: NUEVO EN WORKANA\\n- Primera(s) vez contratando, puede estar inseguro.\\n- Transmite máxima confianza y proceso claro paso a paso.\\n- Enfatiza garantías: comunicación constante, entregas parciales, satisfacción.\\n- Evita jerga técnica excesiva.';\n}\n\n// --- A/B Testing ---\n// Asignar variante A o B basada en hash del URL del proyecto\nfunction simpleHash(str) {\n  let hash = 0;\n  for (let i = 0; i < str.length; i++) {\n    const char = str.charCodeAt(i);\n    hash = ((hash << 5) - hash) + char;\n    hash = hash & hash;\n  }\n  return Math.abs(hash);\n}\nconst projectHash = simpleHash(d.url || d.title || '');\nconst abVariant = projectHash % 2 === 0 ? 'A' : 'B';\n\nlet abTestInstructions = '';\nif (abVariant === 'A') {\n  abTestInstructions = '\\n## VARIANTE A: GANCHO TÉCNICO\\n- Abre con una observación técnica específica sobre su proyecto.\\n- Demuestra que ya analizaste su problema antes de escribir.\\n- Ejemplo: \"El flujo de datos que describes tiene un cuello de botella clásico en...\"';\n} else {\n  abTestInstructions = '\\n## VARIANTE B: GANCHO RESULTADO\\n- Abre con un resultado concreto que lograste en un proyecto similar.\\n- Conecta ese resultado con lo que el cliente necesita.\\n- Ejemplo: \"En un proyecto similar redujimos el tiempo de procesamiento un 70%...\"';\n}\n\n// --- Dynamic Pricing ---\nlet dynamicPricing = '';\nif (d.budget_min && d.budget_max && d.budget_type !== 'open') {\n  const clientMid = (d.budget_min + d.budget_max) / 2;\n  if (d.budget_currency === 'EUR' || d.budget_currency === 'USD') {\n    dynamicPricing = `\\n## CONTEXTO DE PRECIO DEL CLIENTE:\\n- El cliente indica un rango de ${d.budget_min}-${d.budget_max} ${d.budget_currency} (tipo: ${d.budget_type}).\\n- Punto medio del cliente: ${clientMid} ${d.budget_currency}.\\n- RECUERDA: Ignora este rango y pon TU precio justo. Pero si tu precio justo está dentro o cerca de su rango, menciona en internal_notes que hay alineación de presupuesto.`;\n  }\n}\n\nconst systemPrompt = `Eres un generador experto de propuestas para Workana. Debes responder SIEMPRE en JSON con esta estructura exacta:\n{\n  \"relevance_score\": 0-100,\n  \"red_flags\": [\"flag1\", \"flag2\"],\n  \"should_apply\": true/false,\n  \"proposal_text\": \"texto de la propuesta listo para copiar\",\n  \"questions_text\": \"preguntas para el cliente (1-2 máximo)\",\n  \"budget_suggested\": número en EUR,\n  \"delivery_days\": número,\n  \"skills_recommended\": [\"skill1\", \"skill2\"],\n  \"portfolio_items\": [\"item1\", \"item2\"],\n  \"tone\": \"direct|warm|technical|urgent\",\n  \"internal_notes\": {\n    \"perfil_detectado\": \"técnico/negocio/novato + formal/casual/urgente + precio/calidad/rapidez\",\n    \"dolor_real\": \"descripción\",\n    \"por_que_yo\": \"razón específica\",\n    \"tiempo_estimado\": \"rango\",\n    \"razonamiento_precio\": \"cómo llegaste al precio\",\n    \"client_profile\": \"premium/experimentado/intermedio/nuevo\",\n    \"ab_variant\": \"A o B\",\n    \"budget_alignment\": \"descripción de alineación con presupuesto del cliente\"\n  }\n}\n\nIMPORTANTE: El campo 'proposal_text' debe ser la propuesta COMPLETA lista para enviar, incluyendo preguntas al final si las hay.\nEl campo 'tone' indica el tono dominante que usaste: direct (directo al grano), warm (cálido cercano), technical (técnico experto), urgent (urgencia y velocidad).`;\n\n// Detectar categoría y seleccionar template de énfasis\nconst allText = ((d.category || '') + ' ' + (d.full_title || d.title || '') + ' ' + (d.full_description || d.description || '')).toLowerCase();\n\nlet categoryEmphasis = '';\n\nif (/inteligencia artificial|machine learning|\\bai\\b|\\bml\\b|chatbot|nlp|gpt|openai|claude|rag|agente.*ia/i.test(allText)) {\n  categoryEmphasis = `\n## ÉNFASIS PARA PROYECTO DE IA:\n- Destaca ROI concreto (X% mejora en eficiencia, Y horas ahorradas)\n- Menciona casos de uso específicos implementados\n- Vocabulario técnico de IA pero explica beneficios de negocio\n- Enfatiza: modelo correcto para el caso, escalabilidad, integración\n- Portfolio prioritario: RAG, Asistente Virtual, Voice Bot`;\n} else if (/web|landing|wordpress|e-commerce|ecommerce|tienda|woocommerce|shopify|pagina|sitio|blog|portafolio/i.test(allText)) {\n  categoryEmphasis = `\n## ÉNFASIS PARA PROYECTO WEB:\n- Destaca velocidad de entrega (Claude Code permite entregar más rápido)\n- Menciona responsive, SEO, performance (Core Web Vitals)\n- Énfasis en diseño moderno y conversión (funcional, no solo bonito)\n- Si es e-commerce: integraciones de pago, inventario, analytics\n- Portfolio prioritario: Sistema Logística E-commerce`;\n} else if (/automatizaci[oó]n|automation|n8n|make|zapier|bot|whatsapp|telegram|scraper|scraping/i.test(allText)) {\n  categoryEmphasis = `\n## ÉNFASIS PARA PROYECTO DE AUTOMATIZACIÓN:\n- Destaca ahorro de tiempo en horas/semana con números concretos\n- Escalabilidad: lo que automatizas hoy sirve cuando crezcas 10x\n- Fiabilidad: monitoring, alertas, retry automático\n- Si es bot: NLP, integraciones, analytics de conversaciones\n- Portfolio prioritario: Automatización Flujos BPA, Chatbot WhatsApp, Web Scraping`;\n} else if (/software|saas|plataforma|dashboard|crm|erp|\\bapi\\b|backend|fullstack|full.stack|aplicaci[oó]n|\\bapp\\b/i.test(allText)) {\n  categoryEmphasis = `\n## ÉNFASIS PARA PROYECTO DE SOFTWARE:\n- Arquitectura limpia y mantenibilidad a largo plazo\n- Stack técnico específico que usarías\n- Testing, documentación, deployment automatizado\n- Escalabilidad técnica (DB, cache, microservicios si aplica)\n- Portfolio prioritario: Dashboard Ejecutivo BI, Sistema Logística`;\n} else if (/datos|data|\\bbi\\b|analytics|etl|reporting|dashboard|base.de.datos|database|\\bsql\\b/i.test(allText)) {\n  categoryEmphasis = `\n## ÉNFASIS PARA PROYECTO DE DATOS/BI:\n- Visualización clara y accionable (no solo gráficos bonitos)\n- Fuentes de datos que puedes integrar\n- Tiempo real vs batch, alertas automáticas, insights predictivos\n- Si es ETL: fiabilidad, monitoring, data quality\n- Portfolio prioritario: Dashboard Ejecutivo con Análisis Predictivo`;\n}\n\nconst userPrompt = `Genera una propuesta para este proyecto de Workana. Sigue ESTRICTAMENTE estas instrucciones:\n\n# INSTRUCCIONES DE GENERACIÓN\n\n## OBJETIVO\nGenerar propuestas cortas y persuasivas que cierren una LLAMADA, no que vendan el proyecto en el texto.\n\n## PASO 0: FILTRO DE VIABILIDAD — FOCALIZADO EN NUESTRAS ÁREAS\nAplicamos (should_apply: true) SOLO si el proyecto encaja en ALGUNA de estas categorías:\n\n### CATEGORÍAS QUE ACEPTAMOS:\n1. **Inteligencia Artificial / Machine Learning**: chatbots, agentes IA, RAG, NLP, automatización con IA, integración de APIs de IA (OpenAI, Claude, etc.)\n2. **Creación de páginas web**: landing pages, sitios corporativos, e-commerce, WordPress, Webflow, tiendas online, blogs, portafolios\n3. **Desarrollo de software**: aplicaciones web, SaaS, plataformas, dashboards, CRM, ERP, sistemas a medida, APIs, backends, frontends\n4. **Automatización y bots**: n8n, Make, Zapier, bots de WhatsApp, Telegram, scrapers, automatización de procesos\n5. **Datos y análisis**: dashboards, BI, análisis de datos, ETL, bases de datos, reporting\n\n### RECHAZAMOS (should_apply: false):\n- Diseño gráfico puro (logos, branding sin web)\n- Traducción / redacción de contenidos sin componente técnico\n- Contabilidad, legal, marketing puro (sin automatización)\n- Presencia física obligatoria\n- Proyectos con más de 50 propuestas enviadas\n- Cualquier cosa fuera de las 5 categorías de arriba\n\n${clientProfileInstructions}\n\n${abTestInstructions}\n\n## PASO 1: PERFIL DEL CLIENTE (analízalo internamente)\n- Nivel: TÉCNICO / NEGOCIO / NOVATO\n- Tono: FORMAL / CASUAL / URGENTE\n- Motivación: PRECIO / CALIDAD / RAPIDEZ\n- Perfil Workana: ${clientProfile} (proyectos: ${projectsPosted}, hire rate: ${hireRate}%, rating: ${rating})\n\n## PASO 2: DOLOR REAL\nIdentifica el problema de negocio DETRÁS de lo técnico.\n\n## PASO 3: ESTRUCTURA (máximo 150 palabras)\n\n[GANCHO] 1-2 líneas. NUNCA empieces con 'Hola soy...' ni 'Yo...'\n- TÉCNICO/NEGOCIO: Restatea su problema con observación experta\n- NOVATO/URGENTE: Hazles sentir que ya tienes la solución\n\n[MICRO-INSIGHT] 1-2 líneas. Observación técnica/enfoque concreto para su caso.\n\n[PRUEBA SOCIAL] 1 línea. Resultado concreto con números.\n\n[CIERRE] 1 línea. CTA hacia llamada. Firma: Alex\n\n## PASO 4: PREGUNTAS (1-2 máximo)\nPreguntas estratégicas que demuestren expertise, NO preguntas básicas.\n\n## PRESUPUESTO — PRECIO JUSTO (ignorar el rango del proyecto)\nIMPORTANTE: Ignora completamente el presupuesto que indica el cliente. Nosotros ponemos nuestro precio JUSTO basado en la complejidad REAL del proyecto.\n\nUsamos Claude Code para desarrollo rápido, lo que nos permite ser competitivos sin sacrificar calidad.\n\nReglas de precio:\n- Si el proyecto es POR HORA: siempre 40 EUR/hora\n- Páginas web / landing pages / WordPress: 150-400 EUR (con Claude Code las hacemos muy rápido)\n- E-commerce / tienda online: 400-1200 EUR\n- Chatbot básico (sin IA): 350-600 EUR\n- Chatbot con IA / Agente conversacional: 700-1500 EUR\n- Automatización (n8n, Make, Zapier): 400-1000 EUR\n- Agente IA complejo / RAG / NLP: 1200-2500 EUR\n- Software/SaaS/Plataforma: 1500-4000 EUR\n- Web scraping / ETL: 300-800 EUR\n- Dashboard/BI/Reporting: 600-1500 EUR\n- Integración de APIs: 300-900 EUR\n- App web full-stack: 1000-3500 EUR\n- Otros técnicos: estima según complejidad real, mínimo 150 EUR\n\nIMPORTANTE: Sumar siempre +20% por comisión de Workana al budget_suggested.\nNO menciones precio en la propuesta (se negocia en llamada).\nEl budget_suggested es lo que le cobramos AL CLIENTE (ya con margen Workana incluido).\n\n${dynamicPricing}\n\n${categoryEmphasis}\n\n${winningPatterns}\n\n## ANTI-PATRONES\n- NO empezar con 'Hola, soy Alex y tengo X años...'\n- NO primera frase genérica\n- NO prometer plazos sin saber alcance\n- NO listar tecnologías sin beneficio\n- NO usar 'podría', 'creo que', 'quizás'\n- NO usar 'Quedo a tu disposición'\n- NO más de 200 palabras\n- NO más de 2 preguntas\n- NO mencionar precio\n- PROHIBIDO mencionar 'VortekAI', 'Vortek' o cualquier nombre de empresa. Si necesitas referirte a tu equipo, di 'mi equipo' o 'mi empresa' sin nombrarla NUNCA\n- NO revelar que usas IA o automatización para enviar propuestas\n\n## PORTFOLIO DISPONIBLE (selecciona los 3 más relevantes):\n- Sistema de Análisis de Documentos y Base de Conocimiento Corporativa con IA (RAG)\n- Sistema Integral de Logística y Envíos para E-commerce\n- Asistente Virtual Inteligente Multicanal 24/7\n- Automatización de Marketing de Contenidos\n- Chatbot Inteligente en WhatsApp con IA para Automatización\n- Dashboard Ejecutivo Inteligente con Análisis Predictivo (BI & AI)\n- Automatización Integral de Flujos de Trabajo (BPA) y Conexión de APIs\n- Sistema de Web Scraping Inteligente y Enriquecimiento de Datos B2B\n- Voice Bot: Agente Telefónico con IA para Atención y Agendamiento\n\n## SKILLS DISPONIBLES (selecciona las 5 más relevantes):\nAPI, Inteligencia Artificial, Python, Chatbot, ChatGPT, CRM, Big Data, QA Automation, REST API, Web Scraping, System Analysis, System Programming, Database, ERP, DevOps, SQL, Programación Web, QA, Software Testing\n\n## METADATA REQUERIDA\n- Incluye en internal_notes.ab_variant: \"${abVariant}\"\n- Incluye en internal_notes.client_profile: \"${clientProfile}\"\n- Incluye el campo 'tone' a nivel raíz del JSON (direct/warm/technical/urgent)\n\n---\n\n${conversionStats}\n\n---\n\nPROYECTO A ANALIZAR:\n\nTítulo: ${d.full_title || d.title}\nURL: ${d.url}\nDescripción: ${d.full_description || d.description}\nPresupuesto del cliente: ${d.budget_detail || d.budget_text || 'No especificado'} (IGNORAR - ponemos nuestro precio)\nPresupuesto parseado: ${d.budget_min || '?'}-${d.budget_max || '?'} ${d.budget_currency || '?'} (${d.budget_type || '?'})\nSkills: ${(d.skills_detail || d.skills || []).join(', ')}\nPropuestas actuales: ${d.proposals_count || 'Desconocido'}\nCliente: ${d.client_name || 'Desconocido'} (${d.client_country || '?'})\nRating: ${d.client_rating || 'Sin rating'}\nVerificado: ${d.client_verified ? 'Sí' : 'No'}\nProyectos publicados: ${d.client_projects_posted || 'Desconocido'}\nTasa contratación: ${d.client_hire_rate || 'Desconocida'}%\nPerfil cliente: ${clientProfile}\nFecha publicación: ${d.publish_date || 'Desconocido'}\nPre-Score del sistema: ${d.pre_score || 50}/100 (frescura + competencia + verificación cliente)\nCategoría: ${d.category || 'IT & Programación'}\nVariante A/B: ${abVariant}\n\nTexto completo de la página:\n${(d.full_text || '').substring(0, 3000)}`;\n\nconsole.log(`Prompt IA: ${d.title} | Perfil: ${clientProfile} | Variante: ${abVariant} | Budget: ${d.budget_min}-${d.budget_max} ${d.budget_currency}`);\n\nreturn [{\n  json: {\n    ...d,\n    ab_variant: abVariant,\n    client_profile: clientProfile,\n    openai_body: {\n      model: 'gpt-4o',\n      temperature: 0.4,\n      max_tokens: 2000,\n      response_format: { type: 'json_object' },\n      messages: [\n        { role: 'system', content: systemPrompt },\n        { role: 'user', content: userPrompt }\n      ]\n    }\n  }\n}];\n"
      },
      "id": "prepare-prompt",
      "name": "Preparar Prompt IA",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2480,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.openai_body) }}"
      },
      "id": "generate-proposal",
      "name": "IA Genera Propuesta",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2700,
        0
      ],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 3000,
      "credentials": {
        "openAiApi": {
          "id": "",
          "name": "OpenAI"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parsear respuesta de la IA y estructurar datos\n// SIEMPRE devuelve datos para guardar en DB (evita reprocesar proyectos)\nconst aiResponse = $input.first().json;\nconst projectData = $('Obtener Detalles').item.json;\n\n// Helper para construir objeto proyecto\nfunction buildProject(overrides) {\n  return {\n    workana_url: projectData.url,\n    title: projectData.full_title || projectData.title,\n    description: (projectData.full_description || projectData.description || '').substring(0, 2000),\n    category: projectData.category || '',\n    budget_text: projectData.budget_detail || projectData.budget_text || '',\n    skills: projectData.skills_detail || projectData.skills || [],\n    client_name: projectData.client_name || '',\n    client_country: projectData.client_country || '',\n    client_rating: parseFloat(projectData.client_rating) || null,\n    client_verified: projectData.client_verified || false,\n    proposals_count: projectData.proposals_count || 0,\n    publication_date: projectData.publish_date || '',\n    pre_score: projectData.pre_score || 0,\n    budget_min: projectData.budget_min || null,\n    budget_max: projectData.budget_max || null,\n    budget_currency: projectData.budget_currency || 'EUR',\n    budget_type: projectData.budget_type || 'fixed',\n    proposals_count_parsed: parseInt(projectData.proposals_count) || null,\n    client_rating_parsed: parseFloat(projectData.client_rating) || null,\n    client_projects_posted: projectData.client_projects_posted || null,\n    client_hire_rate: projectData.client_hire_rate || null,\n    ...overrides,\n  };\n}\n\n// Si OpenAI devolvió error\nif (aiResponse.error) {\n  console.error('OpenAI ERROR:', JSON.stringify(aiResponse.error));\n  return [{\n    json: {\n      should_apply: false,\n      project: buildProject({\n        relevance_score: 0,\n        red_flags: ['Error en IA: ' + (aiResponse.error?.message || 'desconocido')],\n        status: 'new',\n      }),\n      proposal: null,\n      config: projectData.config,\n    }\n  }];\n}\n\nlet proposal;\ntry {\n  const content = aiResponse.choices?.[0]?.message?.content;\n  if (!content) {\n    console.error('NO CONTENT in AI response');\n    return [{\n      json: {\n        should_apply: false,\n        project: buildProject({ relevance_score: 0, red_flags: ['Sin respuesta de IA'], status: 'new' }),\n        proposal: null,\n        config: projectData.config,\n      }\n    }];\n  }\n  proposal = JSON.parse(content);\n} catch (e) {\n  console.error('JSON PARSE ERROR:', e.message);\n  return [{\n    json: {\n      should_apply: false,\n      project: buildProject({ relevance_score: 0, red_flags: ['Error parseando respuesta IA'], status: 'new' }),\n      proposal: null,\n      config: projectData.config,\n    }\n  }];\n}\n\nconst shouldApply = proposal.should_apply === true;\nconsole.log(`Proyecto: ${projectData.title} | Relevancia: ${proposal.relevance_score} | Aplica: ${shouldApply}`);\n\nreturn [{\n  json: {\n    should_apply: shouldApply,\n    project: buildProject({\n      relevance_score: proposal.relevance_score || 0,\n      red_flags: proposal.red_flags || [],\n      status: shouldApply ? 'proposal_generated' : 'skipped',\n    }),\n    proposal: shouldApply ? {\n      proposal_text: proposal.proposal_text || '',\n      questions_text: proposal.questions_text || '',\n      budget_suggested: proposal.budget_suggested || null,\n      delivery_days: proposal.delivery_days || null,\n      skills_recommended: proposal.skills_recommended || [],\n      portfolio_items: proposal.portfolio_items || [],\n      internal_notes: proposal.internal_notes || {},\n      proposal_variant: projectData.ab_variant || proposal.internal_notes?.ab_variant || 'A',\n      word_count: (proposal.proposal_text || '').split(/\\s+/).filter(w => w.length > 0).length,\n      tone: proposal.tone || 'direct',\n    } : null,\n    config: projectData.config,\n  }\n}];"
      },
      "id": "structure-data",
      "name": "Estructurar Datos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2810,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$('CONFIG').item.json.SUPABASE_URL}}/rest/v1/workana_projects?on_conflict=workana_url",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$('CONFIG').item.json.SUPABASE_KEY}}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{$('CONFIG').item.json.SUPABASE_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "resolution=merge-duplicates,return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.project) }}"
      },
      "id": "save-project",
      "name": "Guardar Proyecto",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3030,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// Obtener el ID del proyecto guardado para asociar la propuesta\nconst savedProject = $input.first().json;\nconst structuredData = $('Estructurar Datos').item.json;\n\nconst projectId = Array.isArray(savedProject)\n  ? savedProject[0]?.id\n  : savedProject?.id;\n\nif (!projectId) {\n  console.error('No se obtuvo ID del proyecto guardado');\n  return [];\n}\n\nreturn [{\n  json: {\n    project_id: projectId,\n    ...structuredData.proposal,\n    project: structuredData.project,\n    config: structuredData.config,\n  }\n}];"
      },
      "id": "prepare-proposal",
      "name": "Preparar Propuesta",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3470,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$('CONFIG').item.json.SUPABASE_URL}}/rest/v1/workana_proposals",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$('CONFIG').item.json.SUPABASE_KEY}}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{$('CONFIG').item.json.SUPABASE_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ project_id: $json.project_id, proposal_text: $json.proposal_text, questions_text: $json.questions_text, budget_suggested: $json.budget_suggested, delivery_days: $json.delivery_days, skills_recommended: $json.skills_recommended, portfolio_items: $json.portfolio_items, internal_notes: $json.internal_notes, proposal_variant: $json.proposal_variant, word_count: $json.word_count, tone: $json.tone }) }}"
      },
      "id": "save-proposal",
      "name": "Guardar Propuesta",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3690,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "auto-check",
              "leftValue": "={{$('CONFIG').item.json.AUTO_MODE}}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            },
            {
              "id": "relevance-check",
              "leftValue": "={{$('Preparar Propuesta').item.json.project.relevance_score}}",
              "rightValue": "={{parseInt($('CONFIG').item.json.MIN_RELEVANCE_AUTO)}}",
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "check-auto-mode",
      "name": "Auto Mode?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        3910,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$('Preparar Propuesta').item.json.config.PUPPETEER_URL}}/submit-proposal",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"url\": \"{{$('Preparar Propuesta').item.json.project.workana_url}}\",\n  \"text\": {{JSON.stringify($('Preparar Propuesta').item.json.proposal_text)}},\n  \"budget\": {{$('Preparar Propuesta').item.json.budget_suggested || 'null'}},\n  \"delivery_days\": {{$('Preparar Propuesta').item.json.delivery_days || 'null'}}\n}",
        "options": {
          "timeout": 600000
        }
      },
      "id": "auto-submit",
      "name": "Enviar Automático",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4130,
        -150
      ],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Actualizar estado después del envío automático\nconst https = require('https');\n\nfunction httpsPost(targetUrl, headers, bodyObj) {\n  return new Promise((resolve, reject) => {\n    const parsed = new URL(targetUrl);\n    const data = JSON.stringify(bodyObj);\n    const opts = { hostname: parsed.hostname, path: parsed.pathname + parsed.search, method: 'POST', headers: { ...headers, 'Content-Length': Buffer.byteLength(data) } };\n    const req = https.request(opts, res => {\n      let body = '';\n      res.on('data', chunk => body += chunk);\n      res.on('end', () => resolve(body));\n    });\n    req.on('error', reject);\n    req.write(data);\n    req.end();\n  });\n}\n\nconst submitResult = $input.first().json;\nconst proposalData = $('Preparar Propuesta').item.json;\nconst success = submitResult.success === true;\n\nif (!success) {\n  try {\n    const retryBody = {\n      project_id: proposalData.project_id,\n      project_url: proposalData.project.workana_url,\n      proposal_text: proposalData.proposal_text,\n      budget_suggested: proposalData.budget_suggested,\n      delivery_days: proposalData.delivery_days,\n      attempt_count: 1,\n      next_retry_at: new Date(Date.now() + 15 * 60 * 1000).toISOString(),\n      error_message: submitResult.message || submitResult.error || 'Unknown error',\n    };\n    await httpsPost(\n      `${proposalData.config.SUPABASE_URL}/rest/v1/workana_retry_queue`,\n      {\n        'apikey': proposalData.config.SUPABASE_KEY,\n        'Authorization': `Bearer ${proposalData.config.SUPABASE_KEY}`,\n        'Content-Type': 'application/json',\n      },\n      retryBody\n    );\n    console.log('Insertado en retry queue: ' + proposalData.project.workana_url);\n  } catch (e) {\n    console.error('Error retry queue:', e.message);\n  }\n}\n\nreturn [{\n  json: {\n    id: proposalData.project_id,\n    success,\n    project_url: proposalData.project.workana_url,\n    project_title: proposalData.project.title,\n    proposal_text: proposalData.proposal_text,\n    budget: proposalData.budget_suggested,\n    relevance: proposalData.project.relevance_score,\n    message: submitResult.message || (success ? 'Enviado' : 'Error - en cola de reintentos'),\n    auto_sent: true,\n    config: proposalData.config,\n    project_id: proposalData.project_id,\n  }\n}];"
      },
      "id": "process-auto-result",
      "name": "Resultado Auto",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4350,
        -150
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{$('CONFIG').item.json.SUPABASE_URL}}/rest/v1/workana_projects?id=eq.{{$json.id}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$('CONFIG').item.json.SUPABASE_KEY}}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{$('CONFIG').item.json.SUPABASE_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ status: $json.success ? \"sent\" : \"proposal_generated\", auto_sent: $json.auto_sent }) }}"
      },
      "id": "update-status-auto",
      "name": "Actualizar Estado",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4570,
        -150
      ]
    },
    {
      "parameters": {
        "jsCode": "// Preparar notificación para modo manual (sin auto-submit)\nconst data = $('Preparar Propuesta').item.json;\nconst project = data.project;\n\nreturn [{\n  json: {\n    auto_sent: false,\n    success: false,\n    project_url: project.workana_url,\n    project_title: project.title,\n    proposal_text: data.proposal_text,\n    budget: data.budget_suggested,\n    relevance: project.relevance_score,\n    message: 'Pendiente de envío manual',\n    config: data.config,\n    project_id: data.project_id,\n  }\n}];"
      },
      "id": "manual-path",
      "name": "Ruta Manual",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4130,
        150
      ]
    },
    {
      "parameters": {
        "jsCode": "// Preparar mensaje de notificación WhatsApp\nconst data = $('Preparar Propuesta').item.json;\nconst project = data.project;\n// Supabase REST con return=representation devuelve array — extraer primer elemento\nconst rawInput = $input.first()?.json;\nconst inputData = Array.isArray(rawInput) ? rawInput[0] : rawInput;\nconst isAuto = inputData?.auto_sent === true;\nconst autoSuccess = inputData?.status === 'sent' || inputData?.success === true;\n\nlet statusEmoji, statusText;\nif (isAuto && autoSuccess) {\n  statusEmoji = '🤖✅';\n  statusText = 'ENVIADO AUTOMÁTICAMENTE';\n} else if (isAuto && !autoSuccess) {\n  statusEmoji = '🤖❌';\n  statusText = 'ERROR EN ENVÍO AUTO - Revisa manualmente';\n} else {\n  statusEmoji = '📋';\n  statusText = 'PENDIENTE DE ENVÍO';\n}\n\nconst relevanceBar = '█'.repeat(Math.floor(project.relevance_score / 10)) + '░'.repeat(10 - Math.floor(project.relevance_score / 10));\n\nconst msg = `${statusEmoji} *${statusText}*\n\n🎯 *${project.title}*\nRelevancia: ${relevanceBar} ${project.relevance_score}/100\n\n💰 Presupuesto: ${project.budget_text || 'No especificado'}\n📊 Propuestas: ${project.proposals_count}\n🌍 Cliente: ${project.client_name || '?'} (${project.client_country || '?'})\n⭐ Rating: ${project.client_rating || 'Sin rating'}\n✅ Verificado: ${project.client_verified ? 'Sí' : 'No'}\n🏷️ Skills: ${(project.skills || []).join(', ')}\n\n---\n\n📝 *PROPUESTA:*\n${data.proposal_text}\n\n❓ *PREGUNTAS:*\n${data.questions_text || 'Ninguna'}\n\n💶 *Precio sugerido:* €${data.budget_suggested || '?'}\n📅 *Plazo:* ${data.delivery_days || '?'} días\n\n---\n\n📌 *Ficha interna:*\nPerfil: ${data.internal_notes?.perfil_detectado || '?'}\nDolor: ${data.internal_notes?.dolor_real || '?'}\nPor qué yo: ${data.internal_notes?.por_que_yo || '?'}\n\n🔗 ${project.workana_url}`;\n\nreturn [{\n  json: {\n    message: msg,\n    number: data.config.WHATSAPP_NUMBER,\n    evolution_url: data.config.EVOLUTION_URL,\n    evolution_instance: data.config.EVOLUTION_INSTANCE,\n    auto_sent: isAuto,\n    project_title: project.title,\n  }\n}];"
      },
      "id": "format-whatsapp",
      "name": "Formatear WhatsApp",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4790,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$json.evolution_url}}/message/sendText/{{$json.evolution_instance}}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{$json.number}}@s.whatsapp.net\",\n  \"text\": {{JSON.stringify($json.message)}}\n}"
      },
      "id": "send-whatsapp",
      "name": "Enviar WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5010,
        0
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "",
          "name": "Evolution API"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$('CONFIG').item.json.SUPABASE_URL}}/rest/v1/workana_logs",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$('CONFIG').item.json.SUPABASE_KEY}}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{$('CONFIG').item.json.SUPABASE_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ action: \"proposal_processed\", success: true, details: { project_title: $json.project_title || \"Sin título\", auto_sent: $json.auto_sent || false } }) }}"
      },
      "id": "log-action",
      "name": "Log Acción",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5230,
        0
      ]
    },
    {
      "parameters": {
        "content": "## 🤖 WORKANA AUTOPILOT v3\n\n### Flujo:\n1. Cada 30 min → cuota semanal + session check\n2. Cuota: 50-60 propuestas/semana (aleatorio)\n3. Horarios aleatorios + prioridad a proyectos frescos\n4. Multi-categoría (4 categorías)\n5. Pre-Score + IA filtra + templates por categoría\n6. Precio justo con Claude Code\n7. Si AUTO_MODE=true y relevancia ≥80 → envía solo\n8. Retry queue para fallos de envío\n9. WhatsApp: notificaciones + resumen diario\n\n### Credenciales (2):\n- **OpenAI API** → API key\n- **HTTP Header Auth** → Evolution API (apikey)\n\n### Anti-ban:\n- 50-60 propuestas/semana (no diarias)\n- Horarios aleatorios dentro de L-S 8-22h\n- Skip probabilístico + prioridad frescos\n- Session health check automático",
        "width": 380,
        "height": 580
      },
      "id": "sticky-info",
      "name": "Info",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -300,
        -200
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "apply-check",
              "leftValue": "={{$('Estructurar Datos').item.json.should_apply}}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "check-apply",
      "name": "¿Aplica?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        3140,
        0
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{$json.PUPPETEER_URL}}/session-check"
      },
      "id": "session-check-node",
      "name": "Verificar Sesión",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        550,
        0
      ],
      "retryOnFail": false
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "session-ok-check",
              "leftValue": "={{$json.loggedIn}}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "session-ok",
      "name": "¿Sesión OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        700,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$('Control Cuota y Horario').item.json.PUPPETEER_URL}}/login"
      },
      "id": "auto-relogin",
      "name": "Intentar Re-Login",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        850,
        200
      ],
      "retryOnFail": false
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "login-ok-check",
              "leftValue": "={{$json.success}}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "login-ok",
      "name": "¿Login OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1000,
        200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$('Control Cuota y Horario').item.json.EVOLUTION_URL}}/message/sendText/{{$('Control Cuota y Horario').item.json.EVOLUTION_INSTANCE}}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{$('Control Cuota y Horario').item.json.WHATSAPP_NUMBER}}@s.whatsapp.net\",\n  \"text\": \"🚨 *ALERTA: SESIÓN DE WORKANA CAÍDA*\\n\\nEl auto-login ha fallado. El workflow está PARADO.\\n\\nAcciones necesarias:\\n1. Ir a Workana y hacer login manual\\n2. O reiniciar el servicio Puppeteer\\n\\nTimestamp: {{$('Control Cuota y Horario').item.json.timestamp}}\"\n}"
      },
      "id": "alert-session-dead",
      "name": "Alerta Sesión Muerta",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1150,
        400
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "",
          "name": "Evolution API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Pre-Score recalibrado (base 30, max real ~95)\nconst d = $input.first().json;\n\nlet score = 30;\n\n// Factor 1: Frescura (hasta +25)\nconst publishDate = (d.publish_date || '').toLowerCase();\nconst minsMatch = publishDate.match(/(\\d+)\\s*(minuto|minute|min)/i);\nconst hoursMatch = publishDate.match(/(\\d+)\\s*(hora|hour)/i);\nif (minsMatch || publishDate.includes('momento') || publishDate.includes('just')) {\n  score += 25;\n} else if (hoursMatch) {\n  const hours = parseInt(hoursMatch[1]);\n  if (hours <= 1) score += 22;\n  else if (hours <= 3) score += 18;\n  else if (hours <= 6) score += 12;\n  else if (hours <= 12) score += 6;\n}\n\n// Factor 2: Competencia baja (hasta +20)\nconst proposals = d.proposals_count || 0;\nif (proposals <= 3) score += 20;\nelse if (proposals <= 7) score += 15;\nelse if (proposals <= 15) score += 10;\nelse if (proposals <= 25) score += 3;\n\n// Factor 3: Cliente verificado (+8)\nif (d.client_verified === true) score += 8;\n\n// Factor 4: Rating alto (hasta +8)\nconst rating = parseFloat(d.client_rating) || 0;\nif (rating >= 4.8) score += 8;\nelse if (rating >= 4.5) score += 6;\nelse if (rating >= 4.0) score += 3;\n\n// Factor 5: Presupuesto definido (+5)\nconst budget = (d.budget_detail || d.budget_text || '').toLowerCase();\nif (budget && !budget.includes('a definir') && !budget.includes('open') && !budget.includes('abierto')) {\n  score += 5;\n}\n\n// Factor 6: Cliente con historial de contratación (hasta +7)\nconst hireRate = parseFloat(d.client_hire_rate) || 0;\nif (hireRate >= 80) score += 7;\nelse if (hireRate >= 50) score += 4;\n\n// Penalización: demasiadas propuestas\nif (proposals > 35) score -= 10;\nif (proposals > 45) score -= 10;\n\nscore = Math.max(0, Math.min(100, score));\n\nconsole.log(`Pre-Score: ${score} | ${d.title || d.full_title} | Props: ${proposals} | Verified: ${d.client_verified}`);\n\nreturn [{\n  json: {\n    ...d,\n    pre_score: score,\n  }\n}];"
      },
      "id": "calc-prescore",
      "name": "Calcular Pre-Score",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2260,
        0
      ]
    }
  ],
  "connections": {
    "Cada 30 min": {
      "main": [
        [
          {
            "node": "CONFIG",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CONFIG": {
      "main": [
        [
          {
            "node": "Control Cuota y Horario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scrape Workana": {
      "main": [
        [
          {
            "node": "Parsear Proyectos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parsear Proyectos": {
      "main": [
        [
          {
            "node": "Filtrar Nuevos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtrar Nuevos": {
      "main": [
        [
          {
            "node": "Obtener Detalles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Detalles": {
      "main": [
        [
          {
            "node": "Calcular Pre-Score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IA Genera Propuesta": {
      "main": [
        [
          {
            "node": "Estructurar Datos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Estructurar Datos": {
      "main": [
        [
          {
            "node": "Guardar Proyecto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar Proyecto": {
      "main": [
        [
          {
            "node": "¿Aplica?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Propuesta": {
      "main": [
        [
          {
            "node": "Guardar Propuesta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar Propuesta": {
      "main": [
        [
          {
            "node": "Auto Mode?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auto Mode?": {
      "main": [
        [
          {
            "node": "Enviar Automático",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Ruta Manual",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Automático": {
      "main": [
        [
          {
            "node": "Resultado Auto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resultado Auto": {
      "main": [
        [
          {
            "node": "Actualizar Estado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Actualizar Estado": {
      "main": [
        [
          {
            "node": "Formatear WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ruta Manual": {
      "main": [
        [
          {
            "node": "Formatear WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatear WhatsApp": {
      "main": [
        [
          {
            "node": "Enviar WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar WhatsApp": {
      "main": [
        [
          {
            "node": "Log Acción",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Prompt IA": {
      "main": [
        [
          {
            "node": "IA Genera Propuesta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Aplica?": {
      "main": [
        [
          {
            "node": "Preparar Propuesta",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Control Cuota y Horario": {
      "main": [
        [
          {
            "node": "Verificar Sesión",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar Sesión": {
      "main": [
        [
          {
            "node": "¿Sesión OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Sesión OK?": {
      "main": [
        [
          {
            "node": "Scrape Workana",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Intentar Re-Login",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Intentar Re-Login": {
      "main": [
        [
          {
            "node": "¿Login OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Login OK?": {
      "main": [
        [
          {
            "node": "Scrape Workana",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Alerta Sesión Muerta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Alerta Sesión Muerta": {
      "main": [
        []
      ]
    },
    "Calcular Pre-Score": {
      "main": [
        [
          {
            "node": "Preparar Prompt IA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": [
    {
      "name": "workana"
    },
    {
      "name": "autopilot"
    },
    {
      "name": "automation"
    }
  ]
}