n8n-workflow.json
{
  "name": "Workana Autopilot v2",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 30
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Cada 30 min",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// ============================================\n// CONFIGURACIÓN CENTRAL - Edita los valores aquí\n// ============================================\nreturn [{\n  json: {\n    PUPPETEER_URL: 'https://workana-auto-pilot.ioefpm.easypanel.host',\n    SUPABASE_URL: 'https://zcmqcosuvjndgcwylzna.supabase.co',\n    SUPABASE_KEY: 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InpjbXFjb3N1dmpuZGdjd3lsem5hIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MzMxNTcwOCwiZXhwIjoyMDg4ODkxNzA4fQ.lgJ_VxIBAZMmTtjo3L4vUwsIGRD_glaYYsdhHkuUTHM',\n    EVOLUTION_URL: 'https://evo.vortekai.es',\n    EVOLUTION_INSTANCE: 'Ventas vortek',\n    WHATSAPP_NUMBER: '34628706539',\n    SEARCH_CATEGORIES: 'it-programming',\n    SEARCH_PAGES: '2',\n    MIN_RELEVANCE_AUTO: '80',\n    MAX_PROPOSALS_WEEK_MIN: 50,\n    MAX_PROPOSALS_WEEK_MAX: 60,\n    MAX_PROPOSALS_ON_PROJECT: '50',\n    AUTO_MODE: false,\n  }\n}];"
      },
      "id": "config",
      "name": "CONFIG",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        0
      ],
      "notesInFlow": true,
      "notes": "CONFIGURACIÓN CENTRAL\nEdita los valores dentro del código.\nCambia AUTO_MODE a true para envío automático."
    },
    {
      "parameters": {
        "jsCode": "// Control inteligente: horario + cuota semanal + aleatorización\n// -------------------------------------------------------\n// 1. Solo ejecuta en horario laboral (L-S, 8:00-22:00 Madrid)\n// 2. Consulta Supabase para contar propuestas enviadas esta semana\n// 3. Genera un objetivo semanal aleatorio (50-60) determinista por semana\n// 4. Calcula la probabilidad de ejecutar AHORA según lo que falta\n// 5. Lanza un dado: si no toca, devuelve [] y el workflow para\n// -------------------------------------------------------\n\nconst config = $input.first().json;\nconst now = new Date();\nconst madridTime = new Date(now.toLocaleString('en-US', { timeZone: 'Europe/Madrid' }));\nconst hour = madridTime.getHours();\nconst day = madridTime.getDay(); // 0=domingo\n\n// ─── 1. Horario laboral ───\nif (hour < 8 || hour >= 22 || day === 0) {\n  return []; // Fuera de horario\n}\n\n// ─── 2. Objetivo semanal determinista ───\n// Seed basado en año+semana → mismo objetivo toda la semana\nfunction seededRandom(seed) {\n  const x = Math.sin(seed * 9999) * 10000;\n  return x - Math.floor(x);\n}\nconst oneJan = new Date(madridTime.getFullYear(), 0, 1);\nconst weekNumber = Math.ceil(((madridTime - oneJan) / 86400000 + oneJan.getDay() + 1) / 7);\nconst weekSeed = madridTime.getFullYear() * 100 + weekNumber;\nconst minWeek = config.MAX_PROPOSALS_WEEK_MIN || 50;\nconst maxWeek = config.MAX_PROPOSALS_WEEK_MAX || 60;\nconst weeklyTarget = Math.floor(minWeek + seededRandom(weekSeed) * (maxWeek - minWeek + 1));\n\n// ─── 3. Contar propuestas esta semana (lunes a ahora) ───\nconst startOfWeek = new Date(madridTime);\nconst dayOfWeek = startOfWeek.getDay() === 0 ? 7 : startOfWeek.getDay(); // ISO: lunes=1\nstartOfWeek.setDate(startOfWeek.getDate() - (dayOfWeek - 1));\nstartOfWeek.setHours(0, 0, 0, 0);\nconst startISO = startOfWeek.toISOString();\n\nlet proposalsThisWeek = 0;\ntry {\n  const resp = await fetch(\n    `${config.SUPABASE_URL}/rest/v1/workana_proposals?select=id&created_at=gte.${startISO}`,\n    {\n      headers: {\n        'apikey': config.SUPABASE_KEY,\n        'Authorization': `Bearer ${config.SUPABASE_KEY}`,\n      }\n    }\n  );\n  const proposals = await resp.json();\n  proposalsThisWeek = Array.isArray(proposals) ? proposals.length : 0;\n} catch (error) {\n  console.error('Error consultando cuota semanal:', error.message);\n  // Si falla la consulta, continuar para no bloquear\n}\n\n// ─── 4. ¿Ya alcanzamos la cuota? ───\nconst remaining = weeklyTarget - proposalsThisWeek;\nif (remaining <= 0) {\n  console.log(`⛔ Cuota semanal alcanzada: ${proposalsThisWeek}/${weeklyTarget}. Parando.`);\n  return [];\n}\n\n// ─── 5. Calcular probabilidad de ejecutar AHORA ───\n// Horas restantes de trabajo esta semana (L-S, 14h/día)\nconst daysLeftAfterToday = 6 - dayOfWeek; // sábado=6 → 0 días más\nconst hoursLeftToday = Math.max(0, 22 - hour);\nconst totalHoursLeft = (daysLeftAfterToday * 14) + hoursLeftToday;\nconst executionsLeft = Math.max(1, totalHoursLeft * 2); // 2 ejecuciones/hora (cada 30 min)\n\n// Probabilidad = propuestas restantes / ejecuciones restantes\n// Si vamos retrasados → probabilidad sube\n// Si vamos adelantados → probabilidad baja\nconst probability = Math.min(0.95, remaining / executionsLeft);\n\n// ─── 6. Lanzar dado ───\nconst roll = Math.random();\nif (roll > probability) {\n  console.log(`⏭️ Skip aleatorio (prob: ${(probability * 100).toFixed(1)}%, enviadas: ${proposalsThisWeek}/${weeklyTarget}, quedan: ${remaining})`);\n  return [];\n}\n\nconsole.log(`✅ Ejecutando (prob: ${(probability * 100).toFixed(1)}%, enviadas: ${proposalsThisWeek}/${weeklyTarget}, objetivo: ${weeklyTarget})`);\n\nreturn [{\n  json: {\n    ...config,\n    current_hour: hour,\n    current_day: day,\n    proposals_this_week: proposalsThisWeek,\n    weekly_target: weeklyTarget,\n    remaining_this_week: remaining,\n    timestamp: now.toISOString()\n  }\n}];"
      },
      "id": "check-schedule",
      "name": "Control Cuota y Horario",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$('CONFIG').item.json.PUPPETEER_URL}}/scrape-all",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"categories\": [\"{{$('CONFIG').item.json.SEARCH_CATEGORIES}}\"],\n  \"pages\": {{$('CONFIG').item.json.SEARCH_PAGES}},\n  \"language\": \"es\"\n}"
      },
      "id": "scrape-projects",
      "name": "Scrape Workana",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        660,
        0
      ],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "jsCode": "// Extraer proyectos del resultado del scraping\nconst data = $input.first().json;\n\nif (!data.success || !data.projects || data.projects.length === 0) {\n  console.log('No se encontraron proyectos o error en scraping');\n  return [];\n}\n\n// Devolver cada proyecto como item individual con config\nreturn data.projects.map(project => ({\n  json: {\n    ...project,\n    config: {\n      PUPPETEER_URL: $('CONFIG').item.json.PUPPETEER_URL,\n      SUPABASE_URL: $('CONFIG').item.json.SUPABASE_URL,\n      SUPABASE_KEY: $('CONFIG').item.json.SUPABASE_KEY,\n      EVOLUTION_URL: $('CONFIG').item.json.EVOLUTION_URL,\n      EVOLUTION_INSTANCE: $('CONFIG').item.json.EVOLUTION_INSTANCE,\n      WHATSAPP_NUMBER: $('CONFIG').item.json.WHATSAPP_NUMBER,\n      AUTO_MODE: $('CONFIG').item.json.AUTO_MODE,\n      MIN_RELEVANCE_AUTO: parseInt($('CONFIG').item.json.MIN_RELEVANCE_AUTO),\n      MAX_PROPOSALS_ON_PROJECT: parseInt($('CONFIG').item.json.MAX_PROPOSALS_ON_PROJECT),\n    }\n  }\n}));"
      },
      "id": "parse-projects",
      "name": "Parsear Proyectos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        0
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Filtrar proyectos nuevos - UNA sola consulta a Supabase para todos\nconst items = $input.all();\n\nif (items.length === 0) return [];\n\nconst config = items[0].json.config;\n\n// Obtener TODOS los URLs existentes de Supabase en una sola consulta\nlet existingUrls = new Set();\ntry {\n  const resp = await fetch(\n    `${config.SUPABASE_URL}/rest/v1/workana_projects?select=workana_url`,\n    {\n      headers: {\n        'apikey': config.SUPABASE_KEY,\n        'Authorization': `Bearer ${config.SUPABASE_KEY}`,\n      }\n    }\n  );\n  const existing = await resp.json();\n  if (Array.isArray(existing)) {\n    existingUrls = new Set(existing.map(r => r.workana_url));\n  }\n} catch (error) {\n  console.error('Error consultando Supabase:', error.message);\n  // Si falla, continuar con todos (mejor duplicar que perder)\n}\n\n// Filtrar solo proyectos nuevos\nconst newItems = items.filter(item => !existingUrls.has(item.json.url));\n\nconsole.log(`Total: ${items.length}, Nuevos: ${newItems.length}, Ya existentes: ${items.length - newItems.length}`);\n\nreturn newItems;"
      },
      "id": "filter-new",
      "name": "Filtrar Nuevos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        0
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{$json.config.PUPPETEER_URL}}/project-details",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "url",
              "value": "={{$json.url}}"
            }
          ]
        }
      },
      "id": "get-details",
      "name": "Obtener Detalles",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1540,
        0
      ],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 3000
    },
    {
      "parameters": {
        "jsCode": "// Combinar datos del scraping con los detalles completos\nconst basic = $('Filtrar Nuevos').item.json;\nconst detailsResponse = $input.first().json;\n\nif (!detailsResponse.success) {\n  console.log(`Error obteniendo detalles: ${detailsResponse.error}`);\n  return [{ json: { ...basic, details_error: true } }];\n}\n\nconst details = detailsResponse.details;\n\n// Extraer número de propuestas\nconst proposalsText = details.proposals || basic.proposals_text || '';\nconst proposalsMatch = proposalsText.match(/(\\d+)/);\nconst proposalsCount = proposalsMatch ? parseInt(proposalsMatch[1]) : 0;\n\n// Filtrar por número de propuestas\nconst maxProposals = basic.config.MAX_PROPOSALS_ON_PROJECT || 30;\nif (proposalsCount > maxProposals) {\n  console.log(`Demasiadas propuestas (${proposalsCount}): ${basic.title}`);\n  return [];\n}\n\nreturn [{\n  json: {\n    ...basic,\n    full_description: details.description || basic.description,\n    full_title: details.title || basic.title,\n    budget_detail: details.budget || basic.budget_text,\n    category: details.category || basic.category || '',\n    deadline: details.deadline || '',\n    skills_detail: details.skills && details.skills.length > 0 ? details.skills : basic.skills,\n    proposals_count: proposalsCount,\n    client_name: details.client?.name || '',\n    client_country: details.client?.country || '',\n    client_rating: details.client?.rating || '',\n    client_verified: details.client?.verified || false,\n    publish_date: details.publish_date || basic.date_text || '',\n    full_text: details.full_text || '',\n  }\n}];"
      },
      "id": "merge-data",
      "name": "Combinar Datos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1760,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// Construir body para OpenAI - Selección focalizada + precio justo con Claude Code\nconst d = $input.first().json;\n\nconst systemPrompt = `Eres un generador experto de propuestas para Workana. Debes responder SIEMPRE en JSON con esta estructura exacta:\n{\n  \"relevance_score\": 0-100,\n  \"red_flags\": [\"flag1\", \"flag2\"],\n  \"should_apply\": true/false,\n  \"proposal_text\": \"texto de la propuesta listo para copiar\",\n  \"questions_text\": \"preguntas para el cliente (1-2 máximo)\",\n  \"budget_suggested\": número en EUR,\n  \"delivery_days\": número,\n  \"skills_recommended\": [\"skill1\", \"skill2\"],\n  \"portfolio_items\": [\"item1\", \"item2\"],\n  \"internal_notes\": {\n    \"perfil_detectado\": \"técnico/negocio/novato + formal/casual/urgente + precio/calidad/rapidez\",\n    \"dolor_real\": \"descripción\",\n    \"por_que_yo\": \"razón específica\",\n    \"tiempo_estimado\": \"rango\",\n    \"razonamiento_precio\": \"cómo llegaste al precio\"\n  }\n}\n\nIMPORTANTE: El campo 'proposal_text' debe ser la propuesta COMPLETA lista para enviar, incluyendo preguntas al final si las hay.`;\n\nconst userPrompt = `Genera una propuesta para este proyecto de Workana. Sigue ESTRICTAMENTE estas instrucciones:\n\n# INSTRUCCIONES DE GENERACIÓN\n\n## OBJETIVO\nGenerar propuestas cortas y persuasivas que cierren una LLAMADA, no que vendan el proyecto en el texto.\n\n## PASO 0: FILTRO DE VIABILIDAD — FOCALIZADO EN NUESTRAS ÁREAS\nAplicamos (should_apply: true) SOLO si el proyecto encaja en ALGUNA de estas categorías:\n\n### CATEGORÍAS QUE ACEPTAMOS:\n1. **Inteligencia Artificial / Machine Learning**: chatbots, agentes IA, RAG, NLP, automatización con IA, integración de APIs de IA (OpenAI, Claude, etc.)\n2. **Creación de páginas web**: landing pages, sitios corporativos, e-commerce, WordPress, Webflow, tiendas online, blogs, portafolios\n3. **Desarrollo de software**: aplicaciones web, SaaS, plataformas, dashboards, CRM, ERP, sistemas a medida, APIs, backends, frontends\n4. **Automatización y bots**: n8n, Make, Zapier, bots de WhatsApp, Telegram, scrapers, automatización de procesos\n5. **Datos y análisis**: dashboards, BI, análisis de datos, ETL, bases de datos, reporting\n\n### RECHAZAMOS (should_apply: false):\n- Diseño gráfico puro (logos, branding sin web)\n- Traducción / redacción de contenidos sin componente técnico\n- Contabilidad, legal, marketing puro (sin automatización)\n- Presencia física obligatoria\n- Proyectos con más de 50 propuestas enviadas\n- Cualquier cosa fuera de las 5 categorías de arriba\n\n## PASO 1: PERFIL DEL CLIENTE (analízalo internamente)\n- Nivel: TÉCNICO / NEGOCIO / NOVATO\n- Tono: FORMAL / CASUAL / URGENTE\n- Motivación: PRECIO / CALIDAD / RAPIDEZ\n\n## PASO 2: DOLOR REAL\nIdentifica el problema de negocio DETRÁS de lo técnico.\n\n## PASO 3: ESTRUCTURA (máximo 150 palabras)\n\n[GANCHO] 1-2 líneas. NUNCA empieces con 'Hola soy...' ni 'Yo...'\n- TÉCNICO/NEGOCIO: Restatea su problema con observación experta\n- NOVATO/URGENTE: Hazles sentir que ya tienes la solución\n\n[MICRO-INSIGHT] 1-2 líneas. Observación técnica/enfoque concreto para su caso.\n\n[PRUEBA SOCIAL] 1 línea. Resultado concreto con números.\n\n[CIERRE] 1 línea. CTA hacia llamada. Firma: Alex\n\n## PASO 4: PREGUNTAS (1-2 máximo)\nPreguntas estratégicas que demuestren expertise, NO preguntas básicas.\n\n## PRESUPUESTO — PRECIO JUSTO (ignorar el rango del proyecto)\nIMPORTANTE: Ignora completamente el presupuesto que indica el cliente. Nosotros ponemos nuestro precio JUSTO basado en la complejidad REAL del proyecto.\n\nUsamos Claude Code para desarrollo rápido, lo que nos permite ser competitivos sin sacrificar calidad.\n\nReglas de precio:\n- Si el proyecto es POR HORA: siempre 40 EUR/hora\n- Páginas web / landing pages / WordPress: 150-400 EUR (con Claude Code las hacemos muy rápido)\n- E-commerce / tienda online: 400-1200 EUR\n- Chatbot básico (sin IA): 350-600 EUR\n- Chatbot con IA / Agente conversacional: 700-1500 EUR\n- Automatización (n8n, Make, Zapier): 400-1000 EUR\n- Agente IA complejo / RAG / NLP: 1200-2500 EUR\n- Software/SaaS/Plataforma: 1500-4000 EUR\n- Web scraping / ETL: 300-800 EUR\n- Dashboard/BI/Reporting: 600-1500 EUR\n- Integración de APIs: 300-900 EUR\n- App web full-stack: 1000-3500 EUR\n- Otros técnicos: estima según complejidad real, mínimo 150 EUR\n\nIMPORTANTE: Sumar siempre +20% por comisión de Workana al budget_suggested.\nNO menciones precio en la propuesta (se negocia en llamada).\nEl budget_suggested es lo que le cobramos AL CLIENTE (ya con margen Workana incluido).\n\n## ANTI-PATRONES\n- NO empezar con 'Hola, soy Alex y tengo X años...'\n- NO primera frase genérica\n- NO prometer plazos sin saber alcance\n- NO listar tecnologías sin beneficio\n- NO usar 'podría', 'creo que', 'quizás'\n- NO usar 'Quedo a tu disposición'\n- NO más de 200 palabras\n- NO más de 2 preguntas\n- NO mencionar precio\n\n## PORTFOLIO DISPONIBLE (selecciona los 3 más relevantes):\n- Sistema de Análisis de Documentos y Base de Conocimiento Corporativa con IA (RAG)\n- Sistema Integral de Logística y Envíos para E-commerce\n- Asistente Virtual Inteligente Multicanal 24/7\n- Automatización de Marketing de Contenidos\n- Chatbot Inteligente en WhatsApp con IA para Automatización\n- Dashboard Ejecutivo Inteligente con Análisis Predictivo (BI & AI)\n- Automatización Integral de Flujos de Trabajo (BPA) y Conexión de APIs\n- Sistema de Web Scraping Inteligente y Enriquecimiento de Datos B2B\n- Voice Bot: Agente Telefónico con IA para Atención y Agendamiento\n\n## SKILLS DISPONIBLES (selecciona las 5 más relevantes):\nAPI, Inteligencia Artificial, Python, Chatbot, ChatGPT, CRM, Big Data, QA Automation, REST API, Web Scraping, System Analysis, System Programming, Database, ERP, DevOps, SQL, Programación Web, QA, Software Testing\n\n---\n\nPROYECTO A ANALIZAR:\n\nTítulo: ${d.full_title || d.title}\nURL: ${d.url}\nDescripción: ${d.full_description || d.description}\nPresupuesto del cliente: ${d.budget_detail || d.budget_text || 'No especificado'} (IGNORAR - ponemos nuestro precio)\nSkills: ${(d.skills_detail || d.skills || []).join(', ')}\nPropuestas actuales: ${d.proposals_count || 'Desconocido'}\nCliente: ${d.client_name || 'Desconocido'} (${d.client_country || '?'})\nRating: ${d.client_rating || 'Sin rating'}\nVerificado: ${d.client_verified ? 'Sí' : 'No'}\nFecha publicación: ${d.publish_date || 'Desconocido'}\nCategoría: ${d.category || 'IT & Programación'}\n\nTexto completo de la página:\n${(d.full_text || '').substring(0, 3000)}`;\n\nreturn [{\n  json: {\n    ...d,\n    openai_body: {\n      model: 'gpt-4o',\n      temperature: 0.4,\n      max_tokens: 2000,\n      response_format: { type: 'json_object' },\n      messages: [\n        { role: 'system', content: systemPrompt },\n        { role: 'user', content: userPrompt }\n      ]\n    }\n  }\n}];\n"
      },
      "id": "prepare-prompt",
      "name": "Preparar Prompt IA",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1870,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.openai_body) }}"
      },
      "id": "generate-proposal",
      "name": "IA Genera Propuesta",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2090,
        0
      ],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 3000,
      "credentials": {
        "openAiApi": {
          "id": "",
          "name": "OpenAI"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parsear respuesta de la IA y estructurar datos\n// SIEMPRE devuelve datos para guardar en DB (evita reprocesar proyectos)\nconst aiResponse = $input.first().json;\nconst projectData = $('Combinar Datos').item.json;\n\n// Helper para construir objeto proyecto\nfunction buildProject(overrides) {\n  return {\n    workana_url: projectData.url,\n    title: projectData.full_title || projectData.title,\n    description: (projectData.full_description || projectData.description || '').substring(0, 2000),\n    category: projectData.category || '',\n    budget_text: projectData.budget_detail || projectData.budget_text || '',\n    skills: projectData.skills_detail || projectData.skills || [],\n    client_name: projectData.client_name || '',\n    client_country: projectData.client_country || '',\n    client_rating: parseFloat(projectData.client_rating) || null,\n    client_verified: projectData.client_verified || false,\n    proposals_count: projectData.proposals_count || 0,\n    publication_date: projectData.publish_date || '',\n    ...overrides,\n  };\n}\n\n// Si OpenAI devolvió error\nif (aiResponse.error) {\n  console.error('OpenAI ERROR:', JSON.stringify(aiResponse.error));\n  return [{\n    json: {\n      should_apply: false,\n      project: buildProject({\n        relevance_score: 0,\n        red_flags: ['Error en IA: ' + (aiResponse.error?.message || 'desconocido')],\n        status: 'new',\n      }),\n      proposal: null,\n      config: projectData.config,\n    }\n  }];\n}\n\nlet proposal;\ntry {\n  const content = aiResponse.choices?.[0]?.message?.content;\n  if (!content) {\n    console.error('NO CONTENT in AI response');\n    return [{\n      json: {\n        should_apply: false,\n        project: buildProject({ relevance_score: 0, red_flags: ['Sin respuesta de IA'], status: 'new' }),\n        proposal: null,\n        config: projectData.config,\n      }\n    }];\n  }\n  proposal = JSON.parse(content);\n} catch (e) {\n  console.error('JSON PARSE ERROR:', e.message);\n  return [{\n    json: {\n      should_apply: false,\n      project: buildProject({ relevance_score: 0, red_flags: ['Error parseando respuesta IA'], status: 'new' }),\n      proposal: null,\n      config: projectData.config,\n    }\n  }];\n}\n\nconst shouldApply = proposal.should_apply === true;\nconsole.log(`Proyecto: ${projectData.title} | Relevancia: ${proposal.relevance_score} | Aplica: ${shouldApply}`);\n\nreturn [{\n  json: {\n    should_apply: shouldApply,\n    project: buildProject({\n      relevance_score: proposal.relevance_score || 0,\n      red_flags: proposal.red_flags || [],\n      status: shouldApply ? 'proposal_generated' : 'skipped',\n    }),\n    proposal: shouldApply ? {\n      proposal_text: proposal.proposal_text || '',\n      questions_text: proposal.questions_text || '',\n      budget_suggested: proposal.budget_suggested || null,\n      delivery_days: proposal.delivery_days || null,\n      skills_recommended: proposal.skills_recommended || [],\n      portfolio_items: proposal.portfolio_items || [],\n      internal_notes: proposal.internal_notes || {},\n    } : null,\n    config: projectData.config,\n  }\n}];"
      },
      "id": "structure-data",
      "name": "Estructurar Datos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2310,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$('CONFIG').item.json.SUPABASE_URL}}/rest/v1/workana_projects?on_conflict=workana_url",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$('CONFIG').item.json.SUPABASE_KEY}}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{$('CONFIG').item.json.SUPABASE_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "resolution=merge-duplicates,return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.project) }}"
      },
      "id": "save-project",
      "name": "Guardar Proyecto",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2530,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// Obtener el ID del proyecto guardado para asociar la propuesta\nconst savedProject = $input.first().json;\nconst structuredData = $('Estructurar Datos').item.json;\n\nconst projectId = Array.isArray(savedProject)\n  ? savedProject[0]?.id\n  : savedProject?.id;\n\nif (!projectId) {\n  console.error('No se obtuvo ID del proyecto guardado');\n  return [];\n}\n\nreturn [{\n  json: {\n    project_id: projectId,\n    ...structuredData.proposal,\n    project: structuredData.project,\n    config: structuredData.config,\n  }\n}];"
      },
      "id": "prepare-proposal",
      "name": "Preparar Propuesta",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2970,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$('CONFIG').item.json.SUPABASE_URL}}/rest/v1/workana_proposals",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$('CONFIG').item.json.SUPABASE_KEY}}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{$('CONFIG').item.json.SUPABASE_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ project_id: $json.project_id, proposal_text: $json.proposal_text, questions_text: $json.questions_text, budget_suggested: $json.budget_suggested, delivery_days: $json.delivery_days, skills_recommended: $json.skills_recommended, portfolio_items: $json.portfolio_items, internal_notes: $json.internal_notes }) }}"
      },
      "id": "save-proposal",
      "name": "Guardar Propuesta",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3190,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "auto-check",
              "leftValue": "={{$('CONFIG').item.json.AUTO_MODE}}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            },
            {
              "id": "relevance-check",
              "leftValue": "={{$('Preparar Propuesta').item.json.project.relevance_score}}",
              "rightValue": "={{parseInt($('CONFIG').item.json.MIN_RELEVANCE_AUTO)}}",
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "check-auto-mode",
      "name": "Auto Mode?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        3410,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$('Preparar Propuesta').item.json.config.PUPPETEER_URL}}/submit-proposal",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"url\": \"{{$('Preparar Propuesta').item.json.project.workana_url}}\",\n  \"text\": {{JSON.stringify($('Preparar Propuesta').item.json.proposal_text)}},\n  \"budget\": {{$('Preparar Propuesta').item.json.budget_suggested || 'null'}},\n  \"delivery_days\": {{$('Preparar Propuesta').item.json.delivery_days || 'null'}}\n}"
      },
      "id": "auto-submit",
      "name": "Enviar Automático",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3630,
        -150
      ],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "jsCode": "// Actualizar estado después del envío automático\nconst submitResult = $input.first().json;\nconst proposalData = $('Preparar Propuesta').item.json;\n\nconst success = submitResult.success === true;\n\nreturn [{\n  json: {\n    id: proposalData.project_id,\n    success,\n    project_url: proposalData.project.workana_url,\n    project_title: proposalData.project.title,\n    proposal_text: proposalData.proposal_text,\n    budget: proposalData.budget_suggested,\n    relevance: proposalData.project.relevance_score,\n    message: submitResult.message || (success ? 'Enviado' : 'Error'),\n    auto_sent: true,\n    config: proposalData.config,\n    project_id: proposalData.project_id,\n  }\n}];"
      },
      "id": "process-auto-result",
      "name": "Resultado Auto",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3850,
        -150
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{$('CONFIG').item.json.SUPABASE_URL}}/rest/v1/workana_projects?id=eq.{{$json.id}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$('CONFIG').item.json.SUPABASE_KEY}}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{$('CONFIG').item.json.SUPABASE_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ status: $json.success ? \"sent\" : \"proposal_generated\", auto_sent: $json.auto_sent }) }}"
      },
      "id": "update-status-auto",
      "name": "Actualizar Estado",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4070,
        -150
      ]
    },
    {
      "parameters": {
        "jsCode": "// Preparar notificación para modo manual (sin auto-submit)\nconst data = $('Preparar Propuesta').item.json;\nconst project = data.project;\n\nreturn [{\n  json: {\n    auto_sent: false,\n    success: false,\n    project_url: project.workana_url,\n    project_title: project.title,\n    proposal_text: data.proposal_text,\n    budget: data.budget_suggested,\n    relevance: project.relevance_score,\n    message: 'Pendiente de envío manual',\n    config: data.config,\n    project_id: data.project_id,\n  }\n}];"
      },
      "id": "manual-path",
      "name": "Ruta Manual",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3630,
        150
      ]
    },
    {
      "parameters": {
        "jsCode": "// Preparar mensaje de notificación WhatsApp\nconst data = $('Preparar Propuesta').item.json;\nconst project = data.project;\nconst isAuto = $input.first()?.json?.auto_sent || false;\nconst autoSuccess = $input.first()?.json?.success;\n\nlet statusEmoji, statusText;\nif (isAuto && autoSuccess) {\n  statusEmoji = '🤖✅';\n  statusText = 'ENVIADO AUTOMÁTICAMENTE';\n} else if (isAuto && !autoSuccess) {\n  statusEmoji = '🤖❌';\n  statusText = 'ERROR EN ENVÍO AUTO - Revisa manualmente';\n} else {\n  statusEmoji = '📋';\n  statusText = 'PENDIENTE DE ENVÍO';\n}\n\nconst relevanceBar = '█'.repeat(Math.floor(project.relevance_score / 10)) + '░'.repeat(10 - Math.floor(project.relevance_score / 10));\n\nconst msg = `${statusEmoji} *${statusText}*\n\n🎯 *${project.title}*\nRelevancia: ${relevanceBar} ${project.relevance_score}/100\n\n💰 Presupuesto: ${project.budget_text || 'No especificado'}\n📊 Propuestas: ${project.proposals_count}\n🌍 Cliente: ${project.client_name || '?'} (${project.client_country || '?'})\n⭐ Rating: ${project.client_rating || 'Sin rating'}\n✅ Verificado: ${project.client_verified ? 'Sí' : 'No'}\n🏷️ Skills: ${(project.skills || []).join(', ')}\n\n---\n\n📝 *PROPUESTA:*\n${data.proposal_text}\n\n❓ *PREGUNTAS:*\n${data.questions_text || 'Ninguna'}\n\n💶 *Precio sugerido:* €${data.budget_suggested || '?'}\n📅 *Plazo:* ${data.delivery_days || '?'} días\n\n---\n\n📌 *Ficha interna:*\nPerfil: ${data.internal_notes?.perfil_detectado || '?'}\nDolor: ${data.internal_notes?.dolor_real || '?'}\nPor qué yo: ${data.internal_notes?.por_que_yo || '?'}\n\n🔗 ${project.workana_url}`;\n\nreturn [{\n  json: {\n    message: msg,\n    number: data.config.WHATSAPP_NUMBER,\n    evolution_url: data.config.EVOLUTION_URL,\n    evolution_instance: data.config.EVOLUTION_INSTANCE,\n    auto_sent: isAuto,\n    project_title: project.title,\n  }\n}];"
      },
      "id": "format-whatsapp",
      "name": "Formatear WhatsApp",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4290,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$json.evolution_url}}/message/sendText/{{$json.evolution_instance}}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{$json.number}}@s.whatsapp.net\",\n  \"text\": {{JSON.stringify($json.message)}}\n}"
      },
      "id": "send-whatsapp",
      "name": "Enviar WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4510,
        0
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "",
          "name": "Evolution API"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$('CONFIG').item.json.SUPABASE_URL}}/rest/v1/workana_logs",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$('CONFIG').item.json.SUPABASE_KEY}}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{$('CONFIG').item.json.SUPABASE_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ action: \"proposal_processed\", success: true, details: { project_title: $json.project_title || \"Sin título\", auto_sent: $json.auto_sent || false } }) }}"
      },
      "id": "log-action",
      "name": "Log Acción",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4730,
        0
      ]
    },
    {
      "parameters": {
        "content": "## 🤖 WORKANA AUTOPILOT v3\n\n### Flujo:\n1. Cada 30 min → verifica horario + cuota semanal\n2. Cuota: 50-60 propuestas/semana (aleatorio)\n3. Horarios aleatorios (probabilístico)\n4. Scrape → IA filtra (IA, web, software) → genera propuesta\n5. Precio justo con Claude Code (ignora rango del cliente)\n6. Si AUTO_MODE=true y relevancia ≥80 → envía solo\n7. Siempre notifica por WhatsApp\n\n### Credenciales (2):\n- **OpenAI API** → API key\n- **HTTP Header Auth** → Evolution API (apikey)\n\n### Anti-ban:\n- 50-60 propuestas/semana (no diarias)\n- Horarios aleatorios dentro de L-S 8-22h\n- Skip probabilístico por ejecución",
        "width": 380,
        "height": 520
      },
      "id": "sticky-info",
      "name": "Info",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -300,
        -200
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "apply-check",
              "leftValue": "={{$('Estructurar Datos').item.json.should_apply}}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "check-apply",
      "name": "¿Aplica?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2640,
        0
      ]
    }
  ],
  "connections": {
    "Cada 30 min": {
      "main": [
        [
          {
            "node": "CONFIG",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CONFIG": {
      "main": [
        [
          {
            "node": "Control Cuota y Horario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scrape Workana": {
      "main": [
        [
          {
            "node": "Parsear Proyectos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parsear Proyectos": {
      "main": [
        [
          {
            "node": "Filtrar Nuevos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtrar Nuevos": {
      "main": [
        [
          {
            "node": "Obtener Detalles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Detalles": {
      "main": [
        [
          {
            "node": "Combinar Datos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combinar Datos": {
      "main": [
        [
          {
            "node": "Preparar Prompt IA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IA Genera Propuesta": {
      "main": [
        [
          {
            "node": "Estructurar Datos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Estructurar Datos": {
      "main": [
        [
          {
            "node": "Guardar Proyecto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar Proyecto": {
      "main": [
        [
          {
            "node": "¿Aplica?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Propuesta": {
      "main": [
        [
          {
            "node": "Guardar Propuesta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar Propuesta": {
      "main": [
        [
          {
            "node": "Auto Mode?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auto Mode?": {
      "main": [
        [
          {
            "node": "Enviar Automático",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Ruta Manual",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Automático": {
      "main": [
        [
          {
            "node": "Resultado Auto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resultado Auto": {
      "main": [
        [
          {
            "node": "Actualizar Estado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Actualizar Estado": {
      "main": [
        [
          {
            "node": "Formatear WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ruta Manual": {
      "main": [
        [
          {
            "node": "Formatear WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatear WhatsApp": {
      "main": [
        [
          {
            "node": "Enviar WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar WhatsApp": {
      "main": [
        [
          {
            "node": "Log Acción",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Prompt IA": {
      "main": [
        [
          {
            "node": "IA Genera Propuesta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Aplica?": {
      "main": [
        [
          {
            "node": "Preparar Propuesta",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Control Cuota y Horario": {
      "main": [
        [
          {
            "node": "Scrape Workana",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": [
    {
      "name": "workana"
    },
    {
      "name": "autopilot"
    },
    {
      "name": "automation"
    }
  ]
}